﻿<%@ Page Title="" Language="vb" AutoEventWireup="false" MasterPageFile="~/frmMaster.Master" CodeBehind="frmNotify.aspx.vb" Inherits="ODA_VBPrototype.frmNotify" %>


<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
<title>Add Activity | ODA</title>
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder2" runat="server">

<ul class="sidebar-menu">
            <li class="header">MAIN NAVIGATION</li>
           <%--<li>
              <a href="frmDashborad.aspx">
                <i class="fa fa-area-chart"></i> <span>Dashboard</span>
              </a>
            </li>--%>
            <li>
              <a href="frmProjectStatus.aspx">
                <i class="fa fa-area-chart"></i>
                <span>Project Status</span>
                <small class="label pull-right bg-yellow">4</small>
              </a>
            </li>
            
            <li class="treeview">
              <a href="frnFinance.aspx">
                <i class="fa fa-calculator"></i> <span>Finance</span>
                <i class="fa fa-angle-left pull-right"></i>
              </a>
              <ul class="treeview-menu">
                  <li ><a href="frmFinanceProject.aspx"><i class="fa fa-file-text-o"></i> Project</a></li>
                <li><a href="frmExpenseReport.aspx"><i class="fa fa-file-text-o"></i> Report</a></li>
                <li>
                  <a href="#"><i class="fa fa-gear"></i> Master<i class="fa fa-angle-left pull-right"></i></a>
                  <ul class="treeview-menu">
                    <li><a href="frmExpenses.aspx"><i class="fa fa-list"></i> Expense Group</a></li>
                    <li><a href="frmSubExpense.aspx"><i class="fa fa-list"></i> Sub Expense</a></li>
                  </ul>
                </li>
              </ul>
            </li> 
            <li class="treeview">
              <a href="frmAllocatedBudget.aspx">
                <i class="fa fa-dollar"></i> <span>Allocated Budget</span>
                <i class="fa fa-angle-left pull-right"></i>
              </a>
              <ul class="treeview-menu">
                <li><a href="frmBudget.aspx"><i class="fa fa-file-text-o"></i> Budget</a></li>
                <li><a href="frmBudgetReport.aspx"><i class="fa fa-file-text-o"></i> Report</a></li>
                <li>
                  <a href="#"><i class="fa fa-gear"></i> Master<i class="fa fa-angle-left pull-right"></i></a>
                  <ul class="treeview-menu">
                    <li><a href="frmGroupBudget.aspx"><i class="fa fa-list"></i>Group Budget </a></li>
                    <li><a href="frmSubBudget.aspx"><i class="fa fa-list"></i> Sub Budget</a></li>
                  </ul>
                </li>
              </ul>
            </li>
            <li class="treeview">
              <a href="frmReport.aspx">
                <i class="fa fa-file-text-o"></i> <span>Report</span></a>
            </li> 

            <li class="treeview">
              <a href="frmStructure.aspx">
                <i class="fa fa-sitemap"></i> <span>Organize Structure</span>
              </a>
            </li>
             <li class="treeview">
              <a href="#">
                <i class="fa fa-gear"></i> <span>Master</span>
                <i class="fa fa-angle-left pull-right"></i>
              </a>
              <ul class="treeview-menu">
                <li class="active"><a href="frmCountryGroup.aspx"><i class="fa fa-globe"></i> Country Group</a></li>
                <li><a href="frmOECD.aspx"><i class="fa fa-globe"></i> OECD</a></li>
                <li><a href="frmRegionOECD.aspx"><i class="fa fa-globe"></i> RegionOECD</a></li>
                <li><a href="frmCooperationFramework.aspx"><i class="fa fa-globe"></i> Cooperation Framework</a></li>
                <li><a href="frmCooperationType.aspx"><i class="fa fa-globe"></i> Cooperation Type</a></li>
                <li><a href="frmSector.aspx"><i class="fa fa-file-o"></i> Sector</a></li>
                <li><a href="frmSubSector.aspx"><i class="fa fa-file-o"></i> Sub Sector</a></li>
                <li><a href="frmComponent.aspx"><i class="fa fa-align-justify"></i> Component</a></li>
                <li><a href="frmMultilateral.aspx"><i class="fa fa-align-justify"></i> Multilateral</a></li>
                <li><a href="frmInKind.aspx"><i class="fa fa-align-justify"></i> In Kind</a></li>
              </ul>
            </li>
            <li class="treeview">
              <a href="frmContect.aspx">
                <i class="fa fa-list-alt"></i>
                <span>Contect</span></a>
            </li>
          </ul>

</asp:Content>
<asp:Content ID="Content3" ContentPlaceHolderID="ContentPlaceHolder3" runat="server">

  <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
          <h5><b>
           โครงการปรับปรุงและก่อสร้างถนนจากบ้านฮวก (พะเยา) -เมืองคอน-เมืองเชียงฮ่อน-และเมืองคอบ-เมืองปากคอบ-บ้านก้อตื้น สปป.ลาว
          </b></h5>
          <ol class="breadcrumb">
            <li><a href="frmDetailLoan.aspx"><i class="fa fa-sign-out"></i> Back</a></li>
          </ol>
        </section>
        <!-- Main content -->
        <section class="content">
          <div class="row">
            <div class="col-xs-12">
              <div class="box box-body">
                      
                  <!DOCTYPE html>
                  
    <link rel="stylesheet" href="dist/Gantter/codebase/skins/dhtmlxgantt_meadow.css" type="text/css" media="screen" title="no title">
	<style type="text/css">
		html, body { height: 100%; padding:0px; margin:0px; overflow: hidden; }
	</style>

	<div id="gantt_here" style="width:100%; height:100%;">
        <div class="gantt_container"><div class="gantt_grid" role="treegrid" aria-multiselectable="false" style="height: 642px; width: 499px;">
            <div class="gantt_grid_scale" role="row" style="height: 89px; line-height: 88px; width: 499px;">
                <div class="gantt_grid_head_cell gantt_grid_head_text  " style="width:200px;" role="columnheader" aria-label="Activity Name" column_id="text">Activity Name</div>
                <div class="gantt_grid_head_cell gantt_grid_head_start_date  " style="width:90px;" role="columnheader" aria-label="Start Date" column_id="start_date">Start Date</div>
                <div class="gantt_grid_head_cell gantt_grid_head_end_date  " style="width:70px;" role="columnheader" aria-label="End Date" column_id="end_date">End Date</div>
                <div class="gantt_grid_head_cell gantt_grid_head_duration  " style="width:55px;" role="columnheader" aria-label="duration" column_id="duration">duration</div>
                <div class="gantt_grid_head_cell gantt_grid_head_budget  " style="width:55px;" role="columnheader" aria-label="Budget" column_id="budget">Budget</div>
                <div class="gantt_grid_head_cell gantt_grid_head_add gantt_last_cell " style="width:29px;" role="button" aria-label="เพิ่มกิจกรรม" column_id="add"></div></div>
                <div class="gantt_grid_data" role="rowgroup" data-layer="true" style="height: 552px; width: 499px;"><div class="gantt_row" task_id="11" aria-label=" Task: Project #1 Start date: 2013-03-28 End date: 2013-04-08" aria-selected="false" role="row" aria-level="0" aria-expanded="true" style="height: 35px; line-height: 35px;"><div class="gantt_cell" style="width:200px;" role="gridcell" aria-label="Project #1"><div class="gantt_tree_icon gantt_close"></div><div class="gantt_tree_icon gantt_folder_open"></div><div class="gantt_tree_content">Project #1</div></div><div class="gantt_cell" style="width:90px;text-align:center;" role="gridcell" aria-label="2013-03-28"><div class="gantt_tree_content">2013-03-28</div></div><div class="gantt_cell" style="width:70px;text-align:center;" role="gridcell" aria-label="2013-04-08"><div class="gantt_tree_content">2013-04-08</div></div><div class="gantt_cell" style="width:55px;text-align:center;" role="gridcell" aria-label="11"><div class="gantt_tree_content">11</div></div><div class="gantt_cell" style="width:55px;text-align:center;" role="gridcell" aria-label="undefined"><div class="gantt_tree_content">undefined</div></div><div class="gantt_cell gantt_last_cell" style="width:29px;" role="gridcell" aria-label=""><div role="button" aria-label="เพิ่มกิจกรรม" class="gantt_add"></div></div></div><div class="gantt_row odd" task_id="12" aria-label=" Task: Task #1 Start date: 2013-04-03 End date: 2013-04-08" aria-selected="false" role="row" aria-level="1" style="height: 35px; line-height: 35px;"><div class="gantt_cell" style="width:200px;" role="gridcell" aria-label="Task #1"><div class="gantt_tree_indent"></div><div class="gantt_tree_icon gantt_blank"></div><div class="gantt_tree_icon gantt_file"></div><div class="gantt_tree_content">Task #1</div></div><div class="gantt_cell" style="width:90px;text-align:center;" role="gridcell" aria-label="2013-04-03"><div class="gantt_tree_content">2013-04-03</div></div><div class="gantt_cell" style="width:70px;text-align:center;" role="gridcell" aria-label="2013-04-08"><div class="gantt_tree_content">2013-04-08</div></div><div class="gantt_cell" style="width:55px;text-align:center;" role="gridcell" aria-label="5"><div class="gantt_tree_content">5</div></div><div class="gantt_cell" style="width:55px;text-align:center;" role="gridcell" aria-label="undefined"><div class="gantt_tree_content">undefined</div></div><div class="gantt_cell gantt_last_cell" style="width:29px;" role="gridcell" aria-label=""><div role="button" aria-label="เพิ่มกิจกรรม" class="gantt_add"></div>

                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                             </div></div><div class="gantt_row" task_id="13" aria-label=" Task: Task #2 Start date: 2013-04-02 End date: 2013-04-09" aria-selected="false" role="row" aria-level="1" aria-expanded="true" style="height: 35px; line-height: 35px;"><div class="gantt_cell" style="width:200px;" role="gridcell" aria-label="Task #2"><div class="gantt_tree_indent"></div><div class="gantt_tree_icon gantt_close"></div><div class="gantt_tree_icon gantt_folder_open"></div><div class="gantt_tree_content">Task #2</div></div><div class="gantt_cell" style="width:90px;text-align:center;" role="gridcell" aria-label="2013-04-02"><div class="gantt_tree_content">2013-04-02</div></div><div class="gantt_cell" style="width:70px;text-align:center;" role="gridcell" aria-label="2013-04-09"><div class="gantt_tree_content">2013-04-09</div></div><div class="gantt_cell" style="width:55px;text-align:center;" role="gridcell" aria-label="7"><div class="gantt_tree_content">7</div></div><div class="gantt_cell" style="width:55px;text-align:center;" role="gridcell" aria-label="undefined"><div class="gantt_tree_content">undefined</div></div><div class="gantt_cell gantt_last_cell" style="width:29px;" role="gridcell" aria-label=""><div role="button" aria-label="เพิ่มกิจกรรม" class="gantt_add"></div></div></div><div class="gantt_row odd" task_id="17" aria-label=" Task: Task #2.1 Start date: 2013-04-03 End date: 2013-04-05" aria-selected="false" role="row" aria-level="2" style="height: 35px; line-height: 35px;"><div class="gantt_cell" style="width:200px;" role="gridcell" aria-label="Task #2.1"><div class="gantt_tree_indent"></div><div class="gantt_tree_indent"></div><div class="gantt_tree_icon gantt_blank"></div><div class="gantt_tree_icon gantt_file"></div><div class="gantt_tree_content">Task #2.1</div></div><div class="gantt_cell" style="width:90px;text-align:center;" role="gridcell" aria-label="2013-04-03"><div class="gantt_tree_content">2013-04-03</div></div><div class="gantt_cell" style="width:70px;text-align:center;" role="gridcell" aria-label="2013-04-05"><div class="gantt_tree_content">2013-04-05</div></div><div class="gantt_cell" style="width:55px;text-align:center;" role="gridcell" aria-label="2"><div class="gantt_tree_content">2</div></div><div class="gantt_cell" style="width:55px;text-align:center;" role="gridcell" aria-label="undefined"><div class="gantt_tree_content">undefined</div></div><div class="gantt_cell gantt_last_cell" style="width:29px;" role="gridcell" aria-label=""><div role="button" aria-label="เพิ่มกิจกรรม" class="gantt_add"></div></div></div><div class="gantt_row" task_id="18" aria-label=" Task: Task #2.2 Start date: 2013-04-06 End date: 2013-04-09" aria-selected="false" role="row" aria-level="2" style="height: 35px; line-height: 35px;"><div class="gantt_cell" style="width:200px;" role="gridcell" aria-label="Task #2.2"><div class="gantt_tree_indent"></div><div class="gantt_tree_indent"></div><div class="gantt_tree_icon gantt_blank"></div><div class="gantt_tree_icon gantt_file"></div><div class="gantt_tree_content">Task #2.2</div></div><div class="gantt_cell" style="width:90px;text-align:center;" role="gridcell" aria-label="2013-04-06"><div class="gantt_tree_content">2013-04-06</div></div><div class="gantt_cell" style="width:70px;text-align:center;" role="gridcell" aria-label="2013-04-09"><div class="gantt_tree_content">2013-04-09</div></div><div class="gantt_cell" style="width:55px;text-align:center;" role="gridcell" aria-label="3"><div class="gantt_tree_content">3</div></div><div class="gantt_cell" style="width:55px;text-align:center;" role="gridcell" aria-label="undefined"><div class="gantt_tree_content">undefined</div></div><div class="gantt_cell gantt_last_cell" style="width:29px;" role="gridcell" aria-label=""><div role="button" aria-label="เพิ่มกิจกรรม" class="gantt_add"></div></div></div><div class="gantt_row odd" task_id="19" aria-label=" Task: Task #2.3 Start date: 2013-04-10 End date: 2013-04-14" aria-selected="false" role="row" aria-level="2" style="height: 35px; line-height: 35px;"><div class="gantt_cell" style="width:200px;" role="gridcell" aria-label="Task #2.3"><div class="gantt_tree_indent"></div><div class="gantt_tree_indent"></div><div class="gantt_tree_icon gantt_blank"></div><div class="gantt_tree_icon gantt_file"></div><div class="gantt_tree_content">Task #2.3</div></div><div class="gantt_cell" style="width:90px;text-align:center;" role="gridcell" aria-label="2013-04-10"><div class="gantt_tree_content">2013-04-10</div></div><div class="gantt_cell" style="width:70px;text-align:center;" role="gridcell" aria-label="2013-04-14"><div class="gantt_tree_content">2013-04-14</div></div><div class="gantt_cell" style="width:55px;text-align:center;" role="gridcell" aria-label="4"><div class="gantt_tree_content">4</div></div><div class="gantt_cell" style="width:55px;text-align:center;" role="gridcell" aria-label="undefined"><div class="gantt_tree_content">undefined</div></div><div class="gantt_cell gantt_last_cell" style="width:29px;" role="gridcell" aria-label=""><div role="button" aria-label="เพิ่มกิจกรรม" class="gantt_add"></div></div></div><div class="gantt_row" task_id="20" aria-label=" Task: Task #2.4 Start date: 2013-04-10 End date: 2013-04-14" aria-selected="false" role="row" aria-level="2" style="height: 35px; line-height: 35px;"><div class="gantt_cell" style="width:200px;" role="gridcell" aria-label="Task #2.4"><div class="gantt_tree_indent"></div><div class="gantt_tree_indent"></div><div class="gantt_tree_icon gantt_blank"></div><div class="gantt_tree_icon gantt_file"></div><div class="gantt_tree_content">Task #2.4</div></div><div class="gantt_cell" style="width:90px;text-align:center;" role="gridcell" aria-label="2013-04-10"><div class="gantt_tree_content">2013-04-10</div></div><div class="gantt_cell" style="width:70px;text-align:center;" role="gridcell" aria-label="2013-04-14"><div class="gantt_tree_content">2013-04-14</div></div><div class="gantt_cell" style="width:55px;text-align:center;" role="gridcell" aria-label="4"><div class="gantt_tree_content">4</div></div><div class="gantt_cell" style="width:55px;text-align:center;" role="gridcell" aria-label="undefined"><div class="gantt_tree_content">undefined</div></div><div class="gantt_cell gantt_last_cell" style="width:29px;" role="gridcell" aria-label=""><div role="button" aria-label="เพิ่มกิจกรรม" class="gantt_add"></div></div></div><div class="gantt_row odd" task_id="14" aria-label=" Task: Task #3 Start date: 2013-04-02 End date: 2013-04-08" aria-selected="false" role="row" aria-level="1" style="height: 35px; line-height: 35px;"><div class="gantt_cell" style="width:200px;" role="gridcell" aria-label="Task #3"><div class="gantt_tree_indent"></div><div class="gantt_tree_icon gantt_blank"></div><div class="gantt_tree_icon gantt_file"></div><div class="gantt_tree_content">Task #3</div></div><div class="gantt_cell" style="width:90px;text-align:center;" role="gridcell" aria-label="2013-04-02"><div class="gantt_tree_content">2013-04-02</div></div><div class="gantt_cell" style="width:70px;text-align:center;" role="gridcell" aria-label="2013-04-08"><div class="gantt_tree_content">2013-04-08</div></div><div class="gantt_cell" style="width:55px;text-align:center;" role="gridcell" aria-label="6"><div class="gantt_tree_content">6</div></div><div class="gantt_cell" style="width:55px;text-align:center;" role="gridcell" aria-label="undefined"><div class="gantt_tree_content">undefined</div></div><div class="gantt_cell gantt_last_cell" style="width:29px;" role="gridcell" aria-label=""><div role="button" aria-label="เพิ่มกิจกรรม" class="gantt_add"></div></div></div><div class="gantt_row" task_id="15" aria-label=" Task: Task #4 Start date: 2013-04-02 End date: 2013-04-07" aria-selected="false" role="row" aria-level="1" aria-expanded="true" style="height: 35px; line-height: 35px;"><div class="gantt_cell" style="width:200px;" role="gridcell" aria-label="Task #4"><div class="gantt_tree_indent"></div><div class="gantt_tree_icon gantt_close"></div><div class="gantt_tree_icon gantt_folder_open"></div><div class="gantt_tree_content">Task #4</div></div><div class="gantt_cell" style="width:90px;text-align:center;" role="gridcell" aria-label="2013-04-02"><div class="gantt_tree_content">2013-04-02</div></div><div class="gantt_cell" style="width:70px;text-align:center;" role="gridcell" aria-label="2013-04-07"><div class="gantt_tree_content">2013-04-07</div></div><div class="gantt_cell" style="width:55px;text-align:center;" role="gridcell" aria-label="5"><div class="gantt_tree_content">5</div></div><div class="gantt_cell" style="width:55px;text-align:center;" role="gridcell" aria-label="undefined"><div class="gantt_tree_content">undefined</div></div><div class="gantt_cell gantt_last_cell" style="width:29px;" role="gridcell" aria-label=""><div role="button" aria-label="เพิ่มกิจกรรม" class="gantt_add"></div></div></div><div class="gantt_row odd" task_id="21" aria-label=" Task: Task #4.1 Start date: 2013-04-03 End date: 2013-04-07" aria-selected="false" role="row" aria-level="2" style="height: 35px; line-height: 35px;"><div class="gantt_cell" style="width:200px;" role="gridcell" aria-label="Task #4.1"><div class="gantt_tree_indent"></div><div class="gantt_tree_indent"></div><div class="gantt_tree_icon gantt_blank"></div><div class="gantt_tree_icon gantt_file"></div><div class="gantt_tree_content">Task #4.1</div></div><div class="gantt_cell" style="width:90px;text-align:center;" role="gridcell" aria-label="2013-04-03"><div class="gantt_tree_content">2013-04-03</div></div><div class="gantt_cell" style="width:70px;text-align:center;" role="gridcell" aria-label="2013-04-07"><div class="gantt_tree_content">2013-04-07</div></div><div class="gantt_cell" style="width:55px;text-align:center;" role="gridcell" aria-label="4"><div class="gantt_tree_content">4</div></div><div class="gantt_cell" style="width:55px;text-align:center;" role="gridcell" aria-label="undefined"><div class="gantt_tree_content">undefined</div></div><div class="gantt_cell gantt_last_cell" style="width:29px;" role="gridcell" aria-label=""><div role="button" aria-label="เพิ่มกิจกรรม" class="gantt_add"></div></div></div><div class="gantt_row" task_id="22" aria-label=" Task: Task #4.2 Start date: 2013-04-03 End date: 2013-04-07" aria-selected="false" role="row" aria-level="2" style="height: 35px; line-height: 35px;"><div class="gantt_cell" style="width:200px;" role="gridcell" aria-label="Task #4.2"><div class="gantt_tree_indent"></div><div class="gantt_tree_indent"></div><div class="gantt_tree_icon gantt_blank"></div><div class="gantt_tree_icon gantt_file"></div><div class="gantt_tree_content">Task #4.2</div></div><div class="gantt_cell" style="width:90px;text-align:center;" role="gridcell" aria-label="2013-04-03"><div class="gantt_tree_content">2013-04-03</div></div><div class="gantt_cell" style="width:70px;text-align:center;" role="gridcell" aria-label="2013-04-07"><div class="gantt_tree_content">2013-04-07</div></div><div class="gantt_cell" style="width:55px;text-align:center;" role="gridcell" aria-label="4"><div class="gantt_tree_content">4</div></div><div class="gantt_cell" style="width:55px;text-align:center;" role="gridcell" aria-label="undefined"><div class="gantt_tree_content">undefined</div></div><div class="gantt_cell gantt_last_cell" style="width:29px;" role="gridcell" aria-label=""><div role="button" aria-label="เพิ่มกิจกรรม" class="gantt_add"></div></div></div><div class="gantt_row odd" task_id="23" aria-label=" Task: Task #4.3 Start date: 2013-04-03 End date: 2013-04-08" aria-selected="false" role="row" aria-level="2" style="height: 35px; line-height: 35px;"><div class="gantt_cell" style="width:200px;" role="gridcell" aria-label="Task #4.3"><div class="gantt_tree_indent"></div><div class="gantt_tree_indent"></div><div class="gantt_tree_icon gantt_blank"></div><div class="gantt_tree_icon gantt_file"></div><div class="gantt_tree_content">Task #4.3</div></div><div class="gantt_cell" style="width:90px;text-align:center;" role="gridcell" aria-label="2013-04-03"><div class="gantt_tree_content">2013-04-03</div></div><div class="gantt_cell" style="width:70px;text-align:center;" role="gridcell" aria-label="2013-04-08"><div class="gantt_tree_content">2013-04-08</div></div><div class="gantt_cell" style="width:55px;text-align:center;" role="gridcell" aria-label="5"><div class="gantt_tree_content">5</div></div><div class="gantt_cell" style="width:55px;text-align:center;" role="gridcell" aria-label="undefined"><div class="gantt_tree_content">undefined</div></div><div class="gantt_cell gantt_last_cell" style="width:29px;" role="gridcell" aria-label=""><div role="button" aria-label="เพิ่มกิจกรรม" class="gantt_add"></div></div></div><div class="gantt_row" task_id="16" aria-label=" Task: Task #5 Start date: 2013-04-02 End date: 2013-04-09" aria-selected="false" role="row" aria-level="1" style="height: 35px; line-height: 35px;"><div class="gantt_cell" style="width:200px;" role="gridcell" aria-label="Task #5"><div class="gantt_tree_indent"></div><div class="gantt_tree_icon gantt_blank"></div><div class="gantt_tree_icon gantt_file"></div><div class="gantt_tree_content">Task #5</div></div><div class="gantt_cell" style="width:90px;text-align:center;" role="gridcell" aria-label="2013-04-02"><div class="gantt_tree_content">2013-04-02</div></div><div class="gantt_cell" style="width:70px;text-align:center;" role="gridcell" aria-label="2013-04-09"><div class="gantt_tree_content">2013-04-09</div></div><div class="gantt_cell" style="width:55px;text-align:center;" role="gridcell" aria-label="7"><div class="gantt_tree_content">7</div></div><div class="gantt_cell" style="width:55px;text-align:center;" role="gridcell" aria-label="undefined"><div class="gantt_tree_content">undefined</div></div><div class="gantt_cell gantt_last_cell" style="width:29px;" role="gridcell" aria-label=""><div role="button" aria-label="เพิ่มกิจกรรม" class="gantt_add"></div></div></div><div class="gantt_row odd" task_id="1" aria-label=" Task: Project #2 Start date: 2013-04-01 End date: 2013-04-19" aria-selected="false" role="row" aria-level="0" aria-expanded="true" style="height: 35px; line-height: 35px;"><div class="gantt_cell" style="width:200px;" role="gridcell" aria-label="Project #2"><div class="gantt_tree_icon gantt_close"></div><div class="gantt_tree_icon gantt_folder_open"></div><div class="gantt_tree_content">Project #2</div></div><div class="gantt_cell" style="width:90px;text-align:center;" role="gridcell" aria-label="2013-04-01"><div class="gantt_tree_content">2013-04-01</div></div><div class="gantt_cell" style="width:70px;text-align:center;" role="gridcell" aria-label="2013-04-19"><div class="gantt_tree_content">2013-04-19</div></div><div class="gantt_cell" style="width:55px;text-align:center;" role="gridcell" aria-label="18"><div class="gantt_tree_content">18</div></div><div class="gantt_cell" style="width:55px;text-align:center;" role="gridcell" aria-label="undefined"><div class="gantt_tree_content">undefined</div></div><div class="gantt_cell gantt_last_cell" style="width:29px;" role="gridcell" aria-label=""><div role="button" aria-label="เพิ่มกิจกรรม" class="gantt_add"></div></div></div><div class="gantt_row" task_id="2" aria-label=" Task: Task #1 Start date: 2013-04-02 End date: 2013-04-10" aria-selected="false" role="row" aria-level="1" aria-expanded="true" style="height: 35px; line-height: 35px;"><div class="gantt_cell" style="width:200px;" role="gridcell" aria-label="Task #1"><div class="gantt_tree_indent"></div><div class="gantt_tree_icon gantt_close"></div><div class="gantt_tree_icon gantt_folder_open"></div><div class="gantt_tree_content">Task #1</div></div><div class="gantt_cell" style="width:90px;text-align:center;" role="gridcell" aria-label="2013-04-02"><div class="gantt_tree_content">2013-04-02</div></div><div class="gantt_cell" style="width:70px;text-align:center;" role="gridcell" aria-label="2013-04-10"><div class="gantt_tree_content">2013-04-10</div></div><div class="gantt_cell" style="width:55px;text-align:center;" role="gridcell" aria-label="8"><div class="gantt_tree_content">8</div></div><div class="gantt_cell" style="width:55px;text-align:center;" role="gridcell" aria-label="undefined"><div class="gantt_tree_content">undefined</div></div><div class="gantt_cell gantt_last_cell" style="width:29px;" role="gridcell" aria-label=""><div role="button" aria-label="เพิ่มกิจกรรม" class="gantt_add"></div></div></div><div class="gantt_row odd" task_id="5" aria-label=" Task: Task #1.1 Start date: 2013-04-02 End date: 2013-04-09" aria-selected="false" role="row" aria-level="2" style="height: 35px; line-height: 35px;"><div class="gantt_cell" style="width:200px;" role="gridcell" aria-label="Task #1.1"><div class="gantt_tree_indent"></div><div class="gantt_tree_indent"></div><div class="gantt_tree_icon gantt_blank"></div><div class="gantt_tree_icon gantt_file"></div><div class="gantt_tree_content">Task #1.1</div></div><div class="gantt_cell" style="width:90px;text-align:center;" role="gridcell" aria-label="2013-04-02"><div class="gantt_tree_content">2013-04-02</div></div><div class="gantt_cell" style="width:70px;text-align:center;" role="gridcell" aria-label="2013-04-09"><div class="gantt_tree_content">2013-04-09</div></div><div class="gantt_cell" style="width:55px;text-align:center;" role="gridcell" aria-label="7"><div class="gantt_tree_content">7</div></div><div class="gantt_cell" style="width:55px;text-align:center;" role="gridcell" aria-label="undefined"><div class="gantt_tree_content">undefined</div></div><div class="gantt_cell gantt_last_cell" style="width:29px;" role="gridcell" aria-label=""><div role="button" aria-label="เพิ่มกิจกรรม" class="gantt_add"></div></div></div><div class="gantt_row" task_id="6" aria-label=" Task: Task #1.2 Start date: 2013-04-03 End date: 2013-04-10" aria-selected="false" role="row" aria-level="2" style="height: 35px; line-height: 35px;"><div class="gantt_cell" style="width:200px;" role="gridcell" aria-label="Task #1.2"><div class="gantt_tree_indent"></div><div class="gantt_tree_indent"></div><div class="gantt_tree_icon gantt_blank"></div><div class="gantt_tree_icon gantt_file"></div><div class="gantt_tree_content">Task #1.2</div></div><div class="gantt_cell" style="width:90px;text-align:center;" role="gridcell" aria-label="2013-04-03"><div class="gantt_tree_content">2013-04-03</div></div><div class="gantt_cell" style="width:70px;text-align:center;" role="gridcell" aria-label="2013-04-10"><div class="gantt_tree_content">2013-04-10</div></div><div class="gantt_cell" style="width:55px;text-align:center;" role="gridcell" aria-label="7"><div class="gantt_tree_content">7</div></div><div class="gantt_cell" style="width:55px;text-align:center;" role="gridcell" aria-label="undefined"><div class="gantt_tree_content">undefined</div></div><div class="gantt_cell gantt_last_cell" style="width:29px;" role="gridcell" aria-label=""><div role="button" aria-label="เพิ่มกิจกรรม" class="gantt_add"></div></div></div><div class="gantt_row odd" task_id="3" aria-label=" Task: Task #2 Start date: 2013-04-11 End date: 2013-04-19" aria-selected="false" role="row" aria-level="1" aria-expanded="true" style="height: 35px; line-height: 35px;"><div class="gantt_cell" style="width:200px;" role="gridcell" aria-label="Task #2"><div class="gantt_tree_indent"></div><div class="gantt_tree_icon gantt_close"></div><div class="gantt_tree_icon gantt_folder_open"></div><div class="gantt_tree_content">Task #2</div></div><div class="gantt_cell" style="width:90px;text-align:center;" role="gridcell" aria-label="2013-04-11"><div class="gantt_tree_content">2013-04-11</div></div><div class="gantt_cell" style="width:70px;text-align:center;" role="gridcell" aria-label="2013-04-19"><div class="gantt_tree_content">2013-04-19</div></div><div class="gantt_cell" style="width:55px;text-align:center;" role="gridcell" aria-label="8"><div class="gantt_tree_content">8</div></div><div class="gantt_cell" style="width:55px;text-align:center;" role="gridcell" aria-label="undefined"><div class="gantt_tree_content">undefined</div></div><div class="gantt_cell gantt_last_cell" style="width:29px;" role="gridcell" aria-label=""><div role="button" aria-label="เพิ่มกิจกรรม" class="gantt_add"></div></div></div><div class="gantt_row" task_id="7" aria-label=" Task: Task #2.1 Start date: 2013-04-11 End date: 2013-04-19" aria-selected="false" role="row" aria-level="2" style="height: 35px; line-height: 35px;"><div class="gantt_cell" style="width:200px;" role="gridcell" aria-label="Task #2.1"><div class="gantt_tree_indent"></div><div class="gantt_tree_indent"></div><div class="gantt_tree_icon gantt_blank"></div><div class="gantt_tree_icon gantt_file"></div><div class="gantt_tree_content">Task #2.1</div></div><div class="gantt_cell" style="width:90px;text-align:center;" role="gridcell" aria-label="2013-04-11"><div class="gantt_tree_content">2013-04-11</div></div><div class="gantt_cell" style="width:70px;text-align:center;" role="gridcell" aria-label="2013-04-19"><div class="gantt_tree_content">2013-04-19</div></div><div class="gantt_cell" style="width:55px;text-align:center;" role="gridcell" aria-label="8"><div class="gantt_tree_content">8</div></div><div class="gantt_cell" style="width:55px;text-align:center;" role="gridcell" aria-label="undefined"><div class="gantt_tree_content">undefined</div></div><div class="gantt_cell gantt_last_cell" style="width:29px;" role="gridcell" aria-label=""><div role="button" aria-label="เพิ่มกิจกรรม" class="gantt_add"></div></div></div><div class="gantt_row odd" task_id="4" aria-label=" Task: Task #3 Start date: 2013-04-13 End date: 2013-04-19" aria-selected="false" role="row" aria-level="1" aria-expanded="true" style="height: 35px; line-height: 35px;"><div class="gantt_cell" style="width:200px;" role="gridcell" aria-label="Task #3"><div class="gantt_tree_indent"></div><div class="gantt_tree_icon gantt_close"></div><div class="gantt_tree_icon gantt_folder_open"></div><div class="gantt_tree_content">Task #3</div></div><div class="gantt_cell" style="width:90px;text-align:center;" role="gridcell" aria-label="2013-04-13"><div class="gantt_tree_content">2013-04-13</div></div><div class="gantt_cell" style="width:70px;text-align:center;" role="gridcell" aria-label="2013-04-19"><div class="gantt_tree_content">2013-04-19</div></div><div class="gantt_cell" style="width:55px;text-align:center;" role="gridcell" aria-label="6"><div class="gantt_tree_content">6</div></div><div class="gantt_cell" style="width:55px;text-align:center;" role="gridcell" aria-label="undefined"><div class="gantt_tree_content">undefined</div></div><div class="gantt_cell gantt_last_cell" style="width:29px;" role="gridcell" aria-label=""><div role="button" aria-label="เพิ่มกิจกรรม" class="gantt_add"></div></div></div><div class="gantt_row" task_id="8" aria-label=" Task: Task #3.1 Start date: 2013-04-14 End date: 2013-04-19" aria-selected="false" role="row" aria-level="2" style="height: 35px; line-height: 35px;"><div class="gantt_cell" style="width:200px;" role="gridcell" aria-label="Task #3.1"><div class="gantt_tree_indent"></div><div class="gantt_tree_indent"></div><div class="gantt_tree_icon gantt_blank"></div><div class="gantt_tree_icon gantt_file"></div><div class="gantt_tree_content">Task #3.1</div></div><div class="gantt_cell" style="width:90px;text-align:center;" role="gridcell" aria-label="2013-04-14"><div class="gantt_tree_content">2013-04-14</div></div><div class="gantt_cell" style="width:70px;text-align:center;" role="gridcell" aria-label="2013-04-19"><div class="gantt_tree_content">2013-04-19</div></div><div class="gantt_cell" style="width:55px;text-align:center;" role="gridcell" aria-label="5"><div class="gantt_tree_content">5</div></div><div class="gantt_cell" style="width:55px;text-align:center;" role="gridcell" aria-label="undefined"><div class="gantt_tree_content">undefined</div></div><div class="gantt_cell gantt_last_cell" style="width:29px;" role="gridcell" aria-label=""><div role="button" aria-label="เพิ่มกิจกรรม" class="gantt_add"></div></div></div><div class="gantt_row odd" task_id="9" aria-label=" Task: Task #3.2 Start date: 2013-04-14 End date: 2013-04-18" aria-selected="false" role="row" aria-level="2" style="height: 35px; line-height: 35px;"><div class="gantt_cell" style="width:200px;" role="gridcell" aria-label="Task #3.2"><div class="gantt_tree_indent"></div><div class="gantt_tree_indent"></div><div class="gantt_tree_icon gantt_blank"></div><div class="gantt_tree_icon gantt_file"></div><div class="gantt_tree_content">Task #3.2</div></div><div class="gantt_cell" style="width:90px;text-align:center;" role="gridcell" aria-label="2013-04-14"><div class="gantt_tree_content">2013-04-14</div></div><div class="gantt_cell" style="width:70px;text-align:center;" role="gridcell" aria-label="2013-04-18"><div class="gantt_tree_content">2013-04-18</div></div><div class="gantt_cell" style="width:55px;text-align:center;" role="gridcell" aria-label="4"><div class="gantt_tree_content">4</div></div><div class="gantt_cell" style="width:55px;text-align:center;" role="gridcell" aria-label="undefined"><div class="gantt_tree_content">undefined</div></div><div class="gantt_cell gantt_last_cell" style="width:29px;" role="gridcell" aria-label=""><div role="button" aria-label="เพิ่มกิจกรรม" class="gantt_add"></div></div></div><div class="gantt_row" task_id="10" aria-label=" Task: Task #3.3 Start date: 2013-04-14 End date: 2013-04-17" aria-selected="false" role="row" aria-level="2" style="height: 35px; line-height: 35px;"><div class="gantt_cell" style="width:200px;" role="gridcell" aria-label="Task #3.3"><div class="gantt_tree_indent"></div><div class="gantt_tree_indent"></div><div class="gantt_tree_icon gantt_blank"></div><div class="gantt_tree_icon gantt_file"></div><div class="gantt_tree_content">Task #3.3</div></div><div class="gantt_cell" style="width:90px;text-align:center;" role="gridcell" aria-label="2013-04-14"><div class="gantt_tree_content">2013-04-14</div></div><div class="gantt_cell" style="width:70px;text-align:center;" role="gridcell" aria-label="2013-04-17"><div class="gantt_tree_content">2013-04-17</div></div><div class="gantt_cell" style="width:55px;text-align:center;" role="gridcell" aria-label="3"><div class="gantt_tree_content">3</div></div><div class="gantt_cell" style="width:55px;text-align:center;" role="gridcell" aria-label="undefined"><div class="gantt_tree_content">undefined</div></div><div class="gantt_cell gantt_last_cell" style="width:29px;" role="gridcell" aria-label=""><div role="button" aria-label="เพิ่มกิจกรรม" class="gantt_add"></div></div></div></div></div><div class="gantt_task" style="height: 642px; width: 429px;"><div class="gantt_task_scale" style="height: 89px; width: 882px;"><div class="gantt_scale_line" style="height:29px;position:relative;line-height:29px"><div class="gantt_scale_cell gantt_last_cell" aria-label="2013" style="width:864px;height:29px;position:absolute;left:0px">2013</div></div><div class="gantt_scale_line" style="height:30px;position:relative;line-height:30px"><div class="gantt_scale_cell" aria-label="Feb - Apr" style="width:648px;height:29px;position:absolute;left:0px">Feb - Apr</div><div class="gantt_scale_cell gantt_last_cell" aria-label="May - Jul" style="width:216px;height:29px;position:absolute;left:648px">May - Jul</div></div><div class="gantt_scale_line" style="height:30px;position:relative;line-height:30px"><div class="gantt_scale_cell" aria-label="Feb" style="width:216px;height:29px;position:absolute;left:0px">Feb</div><div class="gantt_scale_cell" aria-label="Mar" style="width:216px;height:29px;position:absolute;left:216px">Mar</div><div class="gantt_scale_cell" aria-label="Apr" style="width:216px;height:29px;position:absolute;left:432px">Apr</div><div class="gantt_scale_cell gantt_last_cell" aria-label="May" style="width:216px;height:29px;position:absolute;left:648px">May</div></div></div><div class="gantt_data_area" style="height: 552px; width: 882px;"><div class="gantt_task_bg" data-layer="true" style="width: 864px;"><div class="gantt_task_row" task_id="11" style="height: 35px;"><div class="gantt_task_cell" style="width: 216px;"></div><div class="gantt_task_cell" style="width: 216px;"></div><div class="gantt_task_cell" style="width: 216px;"></div><div class="gantt_task_cell gantt_last_cell" style="width: 216px;"></div></div><div class="gantt_task_row odd" task_id="12" style="height: 35px;"><div class="gantt_task_cell" style="width: 216px;"></div><div class="gantt_task_cell" style="width: 216px;"></div><div class="gantt_task_cell" style="width: 216px;"></div><div class="gantt_task_cell gantt_last_cell" style="width: 216px;"></div></div><div class="gantt_task_row" task_id="13" style="height: 35px;"><div class="gantt_task_cell" style="width: 216px;"></div><div class="gantt_task_cell" style="width: 216px;"></div><div class="gantt_task_cell" style="width: 216px;"></div><div class="gantt_task_cell gantt_last_cell" style="width: 216px;"></div></div><div class="gantt_task_row odd" task_id="17" style="height: 35px;"><div class="gantt_task_cell" style="width: 216px;"></div><div class="gantt_task_cell" style="width: 216px;"></div><div class="gantt_task_cell" style="width: 216px;"></div><div class="gantt_task_cell gantt_last_cell" style="width: 216px;"></div></div><div class="gantt_task_row" task_id="18" style="height: 35px;"><div class="gantt_task_cell" style="width: 216px;"></div><div class="gantt_task_cell" style="width: 216px;"></div><div class="gantt_task_cell" style="width: 216px;"></div><div class="gantt_task_cell gantt_last_cell" style="width: 216px;"></div></div><div class="gantt_task_row odd" task_id="19" style="height: 35px;"><div class="gantt_task_cell" style="width: 216px;"></div><div class="gantt_task_cell" style="width: 216px;"></div><div class="gantt_task_cell" style="width: 216px;"></div><div class="gantt_task_cell gantt_last_cell" style="width: 216px;"></div></div><div class="gantt_task_row" task_id="20" style="height: 35px;"><div class="gantt_task_cell" style="width: 216px;"></div><div class="gantt_task_cell" style="width: 216px;"></div><div class="gantt_task_cell" style="width: 216px;"></div><div class="gantt_task_cell gantt_last_cell" style="width: 216px;"></div></div><div class="gantt_task_row odd" task_id="14" style="height: 35px;"><div class="gantt_task_cell" style="width: 216px;"></div><div class="gantt_task_cell" style="width: 216px;"></div><div class="gantt_task_cell" style="width: 216px;"></div><div class="gantt_task_cell gantt_last_cell" style="width: 216px;"></div></div><div class="gantt_task_row" task_id="15" style="height: 35px;"><div class="gantt_task_cell" style="width: 216px;"></div><div class="gantt_task_cell" style="width: 216px;"></div><div class="gantt_task_cell" style="width: 216px;"></div><div class="gantt_task_cell gantt_last_cell" style="width: 216px;"></div></div><div class="gantt_task_row odd" task_id="21" style="height: 35px;"><div class="gantt_task_cell" style="width: 216px;"></div><div class="gantt_task_cell" style="width: 216px;"></div><div class="gantt_task_cell" style="width: 216px;"></div><div class="gantt_task_cell gantt_last_cell" style="width: 216px;"></div></div><div class="gantt_task_row" task_id="22" style="height: 35px;"><div class="gantt_task_cell" style="width: 216px;"></div><div class="gantt_task_cell" style="width: 216px;"></div><div class="gantt_task_cell" style="width: 216px;"></div><div class="gantt_task_cell gantt_last_cell" style="width: 216px;"></div></div><div class="gantt_task_row odd" task_id="23" style="height: 35px;"><div class="gantt_task_cell" style="width: 216px;"></div><div class="gantt_task_cell" style="width: 216px;"></div><div class="gantt_task_cell" style="width: 216px;"></div><div class="gantt_task_cell gantt_last_cell" style="width: 216px;"></div></div><div class="gantt_task_row" task_id="16" style="height: 35px;"><div class="gantt_task_cell" style="width: 216px;"></div><div class="gantt_task_cell" style="width: 216px;"></div><div class="gantt_task_cell" style="width: 216px;"></div><div class="gantt_task_cell gantt_last_cell" style="width: 216px;"></div></div><div class="gantt_task_row odd" task_id="1" style="height: 35px;"><div class="gantt_task_cell" style="width: 216px;"></div><div class="gantt_task_cell" style="width: 216px;"></div><div class="gantt_task_cell" style="width: 216px;"></div><div class="gantt_task_cell gantt_last_cell" style="width: 216px;"></div></div><div class="gantt_task_row" task_id="2" style="height: 35px;"><div class="gantt_task_cell" style="width: 216px;"></div><div class="gantt_task_cell" style="width: 216px;"></div><div class="gantt_task_cell" style="width: 216px;"></div><div class="gantt_task_cell gantt_last_cell" style="width: 216px;"></div></div><div class="gantt_task_row odd" task_id="5" style="height: 35px;"><div class="gantt_task_cell" style="width: 216px;"></div><div class="gantt_task_cell" style="width: 216px;"></div><div class="gantt_task_cell" style="width: 216px;"></div><div class="gantt_task_cell gantt_last_cell" style="width: 216px;"></div></div><div class="gantt_task_row" task_id="6" style="height: 35px;"><div class="gantt_task_cell" style="width: 216px;"></div><div class="gantt_task_cell" style="width: 216px;"></div><div class="gantt_task_cell" style="width: 216px;"></div><div class="gantt_task_cell gantt_last_cell" style="width: 216px;"></div></div><div class="gantt_task_row odd" task_id="3" style="height: 35px;"><div class="gantt_task_cell" style="width: 216px;"></div><div class="gantt_task_cell" style="width: 216px;"></div><div class="gantt_task_cell" style="width: 216px;"></div><div class="gantt_task_cell gantt_last_cell" style="width: 216px;"></div></div><div class="gantt_task_row" task_id="7" style="height: 35px;"><div class="gantt_task_cell" style="width: 216px;"></div><div class="gantt_task_cell" style="width: 216px;"></div><div class="gantt_task_cell" style="width: 216px;"></div><div class="gantt_task_cell gantt_last_cell" style="width: 216px;"></div></div><div class="gantt_task_row odd" task_id="4" style="height: 35px;"><div class="gantt_task_cell" style="width: 216px;"></div><div class="gantt_task_cell" style="width: 216px;"></div><div class="gantt_task_cell" style="width: 216px;"></div><div class="gantt_task_cell gantt_last_cell" style="width: 216px;"></div></div><div class="gantt_task_row" task_id="8" style="height: 35px;"><div class="gantt_task_cell" style="width: 216px;"></div><div class="gantt_task_cell" style="width: 216px;"></div><div class="gantt_task_cell" style="width: 216px;"></div><div class="gantt_task_cell gantt_last_cell" style="width: 216px;"></div></div><div class="gantt_task_row odd" task_id="9" style="height: 35px;"><div class="gantt_task_cell" style="width: 216px;"></div><div class="gantt_task_cell" style="width: 216px;"></div><div class="gantt_task_cell" style="width: 216px;"></div><div class="gantt_task_cell gantt_last_cell" style="width: 216px;"></div></div><div class="gantt_task_row" task_id="10" style="height: 35px;"><div class="gantt_task_cell" style="width: 216px;"></div><div class="gantt_task_cell" style="width: 216px;"></div><div class="gantt_task_cell" style="width: 216px;"></div><div class="gantt_task_cell gantt_last_cell" style="width: 216px;"></div></div></div><div class="gantt_links_area" data-layer="true" style="width: 864px;"><div class="gantt_task_link" link_id="1" aria-label="Link Project #2 (start) Task #1 (start) "><div class="gantt_line_wrapper" style="top: 462.5px; left: 410px; height: 20px; width: 32px;"><div class="gantt_link_line_left" style="height: 2px; width: 14px; margin-top: 9px; margin-left: 9px;"></div></div><div class="gantt_line_wrapper" style="top: 462.5px; left: 410px; height: 55px; width: 20px;"><div class="gantt_link_line_down" style="height: 37px; width: 2px; margin-top: 9px; margin-left: 9px;"></div></div><div class="gantt_line_wrapper" style="top: 497.5px; left: 410px; height: 20px; width: 27.2px;"><div class="gantt_link_line_right" style="height: 2px; width: 9.2px; margin-top: 9px; margin-left: 9px;"></div></div><div class="gantt_line_wrapper" style="top: 497.5px; left: 417.2px; height: 20px; width: 26px;"><div class="gantt_link_line_right" style="height: 2px; width: 8px; margin-top: 9px; margin-left: 9px;"></div></div><div class="gantt_link_arrow gantt_link_arrow_right" style="top: 504.5px; left: 433.2px;"></div></div><div class="gantt_task_link" link_id="2" aria-label="Link Task #1 (end) Task #2 (start) "><div class="gantt_line_wrapper" style="top: 497.5px; left: 486.8px; height: 20px; width: 32px;"><div class="gantt_link_line_right" style="height: 2px; width: 14px; margin-top: 9px; margin-left: 9px;"></div></div><div class="gantt_line_wrapper" style="top: 497.5px; left: 498.8px; height: 37.5px; width: 20px;"><div class="gantt_link_line_down" style="height: 19.5px; width: 2px; margin-top: 9px; margin-left: 9px;"></div></div><div class="gantt_line_wrapper" style="top: 515px; left: 482px; height: 20px; width: 36.8px;"><div class="gantt_link_line_left" style="height: 2px; width: 18.8px; margin-top: 9px; margin-left: 9px;"></div></div><div class="gantt_line_wrapper" style="top: 515px; left: 482px; height: 107.5px; width: 20px;"><div class="gantt_link_line_down" style="height: 89.5px; width: 2px; margin-top: 9px; margin-left: 9px;"></div></div><div class="gantt_line_wrapper" style="top: 602.5px; left: 482px; height: 20px; width: 26px;"><div class="gantt_link_line_right" style="height: 2px; width: 8px; margin-top: 9px; margin-left: 9px;"></div></div><div class="gantt_link_arrow gantt_link_arrow_right" style="top: 609.5px; left: 498px;"></div></div><div class="gantt_task_link" link_id="3" aria-label="Link Task #2 (end) Task #3 (start) "><div class="gantt_line_wrapper" style="top: 602.5px; left: 551.6px; height: 20px; width: 32px;"><div class="gantt_link_line_right" style="height: 2px; width: 14px; margin-top: 9px; margin-left: 9px;"></div></div><div class="gantt_line_wrapper" style="top: 602.5px; left: 563.6px; height: 37.5px; width: 20px;"><div class="gantt_link_line_down" style="height: 19.5px; width: 2px; margin-top: 9px; margin-left: 9px;"></div></div><div class="gantt_line_wrapper" style="top: 620px; left: 496.4px; height: 20px; width: 87.2px;"><div class="gantt_link_line_left" style="height: 2px; width: 69.2px; margin-top: 9px; margin-left: 9px;"></div></div><div class="gantt_line_wrapper" style="top: 620px; left: 496.4px; height: 72.5px; width: 20px;"><div class="gantt_link_line_down" style="height: 54.5px; width: 2px; margin-top: 9px; margin-left: 9px;"></div></div><div class="gantt_line_wrapper" style="top: 672.5px; left: 496.4px; height: 20px; width: 26px;"><div class="gantt_link_line_right" style="height: 2px; width: 8px; margin-top: 9px; margin-left: 9px;"></div></div><div class="gantt_link_arrow gantt_link_arrow_right" style="top: 679.5px; left: 512.4px;"></div></div><div class="gantt_task_link" link_id="4" aria-label="Link Task #1 (end) Task #1.1 (end) "><div class="gantt_line_wrapper" style="top: 497.5px; left: 486.8px; height: 20px; width: 32px;"><div class="gantt_link_line_right" style="height: 2px; width: 14px; margin-top: 9px; margin-left: 9px;"></div></div><div class="gantt_line_wrapper" style="top: 497.5px; left: 498.8px; height: 55px; width: 20px;"><div class="gantt_link_line_down" style="height: 37px; width: 2px; margin-top: 9px; margin-left: 9px;"></div></div><div class="gantt_line_wrapper" style="top: 532.5px; left: 491.6px; height: 20px; width: 27.2px;"><div class="gantt_link_line_left" style="height: 2px; width: 9.2px; margin-top: 9px; margin-left: 9px;"></div></div><div class="gantt_line_wrapper" style="top: 532.5px; left: 485.6px; height: 20px; width: 26px;"><div class="gantt_link_line_left" style="height: 2px; width: 8px; margin-top: 9px; margin-left: 9px;"></div></div><div class="gantt_link_arrow gantt_link_arrow_left" style="top: 539.5px; left: 489.6px;"></div></div><div class="gantt_task_link" link_id="5" aria-label="Link Task #1 (end) Task #1.2 (end) "><div class="gantt_line_wrapper" style="top: 497.5px; left: 486.8px; height: 20px; width: 32px;"><div class="gantt_link_line_right" style="height: 2px; width: 14px; margin-top: 9px; margin-left: 9px;"></div></div><div class="gantt_line_wrapper" style="top: 497.5px; left: 498.8px; height: 90px; width: 20px;"><div class="gantt_link_line_down" style="height: 72px; width: 2px; margin-top: 9px; margin-left: 9px;"></div></div><div class="gantt_line_wrapper" style="top: 567.5px; left: 498.8px; height: 20px; width: 20px;"><div class="gantt_link_line_up" style="height: 2px; width: 2px; margin-top: 9px; margin-left: 9px;"></div></div><div class="gantt_line_wrapper" style="top: 567.5px; left: 492.8px; height: 20px; width: 26px;"><div class="gantt_link_line_left" style="height: 2px; width: 8px; margin-top: 9px; margin-left: 9px;"></div></div><div class="gantt_link_arrow gantt_link_arrow_left" style="top: 574.5px; left: 496.8px;"></div></div><div class="gantt_task_link" link_id="6" aria-label="Link Task #2 (end) Task #2.1 (end) "><div class="gantt_line_wrapper" style="top: 602.5px; left: 551.6px; height: 20px; width: 32px;"><div class="gantt_link_line_right" style="height: 2px; width: 14px; margin-top: 9px; margin-left: 9px;"></div></div><div class="gantt_line_wrapper" style="top: 602.5px; left: 563.6px; height: 55px; width: 20px;"><div class="gantt_link_line_down" style="height: 37px; width: 2px; margin-top: 9px; margin-left: 9px;"></div></div><div class="gantt_line_wrapper" style="top: 637.5px; left: 563.6px; height: 20px; width: 20px;"><div class="gantt_link_line_up" style="height: 2px; width: 2px; margin-top: 9px; margin-left: 9px;"></div></div><div class="gantt_line_wrapper" style="top: 637.5px; left: 557.6px; height: 20px; width: 26px;"><div class="gantt_link_line_left" style="height: 2px; width: 8px; margin-top: 9px; margin-left: 9px;"></div></div><div class="gantt_link_arrow gantt_link_arrow_left" style="top: 644.5px; left: 561.6px;"></div></div><div class="gantt_task_link" link_id="7" aria-label="Link Task #3 (end) Task #3.1 (end) "><div class="gantt_line_wrapper" style="top: 672.5px; left: 551.6px; height: 20px; width: 32px;"><div class="gantt_link_line_right" style="height: 2px; width: 14px; margin-top: 9px; margin-left: 9px;"></div></div><div class="gantt_line_wrapper" style="top: 672.5px; left: 563.6px; height: 55px; width: 20px;"><div class="gantt_link_line_down" style="height: 37px; width: 2px; margin-top: 9px; margin-left: 9px;"></div></div><div class="gantt_line_wrapper" style="top: 707.5px; left: 563.6px; height: 20px; width: 20px;"><div class="gantt_link_line_up" style="height: 2px; width: 2px; margin-top: 9px; margin-left: 9px;"></div></div><div class="gantt_line_wrapper" style="top: 707.5px; left: 557.6px; height: 20px; width: 26px;"><div class="gantt_link_line_left" style="height: 2px; width: 8px; margin-top: 9px; margin-left: 9px;"></div></div><div class="gantt_link_arrow gantt_link_arrow_left" style="top: 714.5px; left: 561.6px;"></div></div><div class="gantt_task_link" link_id="8" aria-label="Link Task #3 (end) Task #3.2 (end) "><div class="gantt_line_wrapper" style="top: 672.5px; left: 551.6px; height: 20px; width: 32px;"><div class="gantt_link_line_right" style="height: 2px; width: 14px; margin-top: 9px; margin-left: 9px;"></div></div><div class="gantt_line_wrapper" style="top: 672.5px; left: 563.6px; height: 90px; width: 20px;"><div class="gantt_link_line_down" style="height: 72px; width: 2px; margin-top: 9px; margin-left: 9px;"></div></div><div class="gantt_line_wrapper" style="top: 742.5px; left: 556.4px; height: 20px; width: 27.2px;"><div class="gantt_link_line_left" style="height: 2px; width: 9.2px; margin-top: 9px; margin-left: 9px;"></div></div><div class="gantt_line_wrapper" style="top: 742.5px; left: 550.4px; height: 20px; width: 26px;"><div class="gantt_link_line_left" style="height: 2px; width: 8px; margin-top: 9px; margin-left: 9px;"></div></div><div class="gantt_link_arrow gantt_link_arrow_left" style="top: 749.5px; left: 554.4px;"></div></div><div class="gantt_task_link" link_id="9" aria-label="Link Task #3 (end) Task #3.3 (end) "><div class="gantt_line_wrapper" style="top: 672.5px; left: 551.6px; height: 20px; width: 32px;"><div class="gantt_link_line_right" style="height: 2px; width: 14px; margin-top: 9px; margin-left: 9px;"></div></div><div class="gantt_line_wrapper" style="top: 672.5px; left: 563.6px; height: 125px; width: 20px;"><div class="gantt_link_line_down" style="height: 107px; width: 2px; margin-top: 9px; margin-left: 9px;"></div></div><div class="gantt_line_wrapper" style="top: 777.5px; left: 549.2px; height: 20px; width: 34.4px;"><div class="gantt_link_line_left" style="height: 2px; width: 16.4px; margin-top: 9px; margin-left: 9px;"></div></div><div class="gantt_line_wrapper" style="top: 777.5px; left: 543.2px; height: 20px; width: 26px;"><div class="gantt_link_line_left" style="height: 2px; width: 8px; margin-top: 9px; margin-left: 9px;"></div></div><div class="gantt_link_arrow gantt_link_arrow_left" style="top: 784.5px; left: 547.2px;"></div></div><div class="gantt_task_link" link_id="10" aria-label="Link Project #1 (start) Task #1 (start) "><div class="gantt_line_wrapper" style="top: 7.5px; left: 382.129px; height: 20px; width: 32px;"><div class="gantt_link_line_left" style="height: 2px; width: 14px; margin-top: 9px; margin-left: 9px;"></div></div><div class="gantt_line_wrapper" style="top: 7.5px; left: 382.129px; height: 55px; width: 20px;"><div class="gantt_link_line_down" style="height: 37px; width: 2px; margin-top: 9px; margin-left: 9px;"></div></div><div class="gantt_line_wrapper" style="top: 42.5px; left: 382.129px; height: 20px; width: 62.271px;"><div class="gantt_link_line_right" style="height: 2px; width: 44.271px; margin-top: 9px; margin-left: 9px;"></div></div><div class="gantt_line_wrapper" style="top: 42.5px; left: 424.4px; height: 20px; width: 26px;"><div class="gantt_link_line_right" style="height: 2px; width: 8px; margin-top: 9px; margin-left: 9px;"></div></div><div class="gantt_link_arrow gantt_link_arrow_right" style="top: 49.5px; left: 440.4px;"></div></div><div class="gantt_task_link" link_id="11" aria-label="Link Project #1 (start) Task #2 (start) "><div class="gantt_line_wrapper" style="top: 7.5px; left: 382.129px; height: 20px; width: 32px;"><div class="gantt_link_line_left" style="height: 2px; width: 14px; margin-top: 9px; margin-left: 9px;"></div></div><div class="gantt_line_wrapper" style="top: 7.5px; left: 382.129px; height: 90px; width: 20px;"><div class="gantt_link_line_down" style="height: 72px; width: 2px; margin-top: 9px; margin-left: 9px;"></div></div><div class="gantt_line_wrapper" style="top: 77.5px; left: 382.129px; height: 20px; width: 55.071px;"><div class="gantt_link_line_right" style="height: 2px; width: 37.071px; margin-top: 9px; margin-left: 9px;"></div></div><div class="gantt_line_wrapper" style="top: 77.5px; left: 417.2px; height: 20px; width: 26px;"><div class="gantt_link_line_right" style="height: 2px; width: 8px; margin-top: 9px; margin-left: 9px;"></div></div><div class="gantt_link_arrow gantt_link_arrow_right" style="top: 84.5px; left: 433.2px;"></div></div><div class="gantt_task_link" link_id="12" aria-label="Link Project #1 (start) Task #3 (start) "><div class="gantt_line_wrapper" style="top: 7.5px; left: 382.129px; height: 20px; width: 32px;"><div class="gantt_link_line_left" style="height: 2px; width: 14px; margin-top: 9px; margin-left: 9px;"></div></div><div class="gantt_line_wrapper" style="top: 7.5px; left: 382.129px; height: 265px; width: 20px;"><div class="gantt_link_line_down" style="height: 247px; width: 2px; margin-top: 9px; margin-left: 9px;"></div></div><div class="gantt_line_wrapper" style="top: 252.5px; left: 382.129px; height: 20px; width: 55.071px;"><div class="gantt_link_line_right" style="height: 2px; width: 37.071px; margin-top: 9px; margin-left: 9px;"></div></div><div class="gantt_line_wrapper" style="top: 252.5px; left: 417.2px; height: 20px; width: 26px;"><div class="gantt_link_line_right" style="height: 2px; width: 8px; margin-top: 9px; margin-left: 9px;"></div></div><div class="gantt_link_arrow gantt_link_arrow_right" style="top: 259.5px; left: 433.2px;"></div></div><div class="gantt_task_link" link_id="13" aria-label="Link Project #1 (start) Task #4 (start) "><div class="gantt_line_wrapper" style="top: 7.5px; left: 382.129px; height: 20px; width: 32px;"><div class="gantt_link_line_left" style="height: 2px; width: 14px; margin-top: 9px; margin-left: 9px;"></div></div><div class="gantt_line_wrapper" style="top: 7.5px; left: 382.129px; height: 300px; width: 20px;"><div class="gantt_link_line_down" style="height: 282px; width: 2px; margin-top: 9px; margin-left: 9px;"></div></div><div class="gantt_line_wrapper" style="top: 287.5px; left: 382.129px; height: 20px; width: 55.071px;"><div class="gantt_link_line_right" style="height: 2px; width: 37.071px; margin-top: 9px; margin-left: 9px;"></div></div><div class="gantt_line_wrapper" style="top: 287.5px; left: 417.2px; height: 20px; width: 26px;"><div class="gantt_link_line_right" style="height: 2px; width: 8px; margin-top: 9px; margin-left: 9px;"></div></div><div class="gantt_link_arrow gantt_link_arrow_right" style="top: 294.5px; left: 433.2px;"></div></div><div class="gantt_task_link" link_id="14" aria-label="Link Project #1 (start) Task #5 (start) "><div class="gantt_line_wrapper" style="top: 7.5px; left: 382.129px; height: 20px; width: 32px;"><div class="gantt_link_line_left" style="height: 2px; width: 14px; margin-top: 9px; margin-left: 9px;"></div></div><div class="gantt_line_wrapper" style="top: 7.5px; left: 382.129px; height: 440px; width: 20px;"><div class="gantt_link_line_down" style="height: 422px; width: 2px; margin-top: 9px; margin-left: 9px;"></div></div><div class="gantt_line_wrapper" style="top: 427.5px; left: 382.129px; height: 20px; width: 55.071px;"><div class="gantt_link_line_right" style="height: 2px; width: 37.071px; margin-top: 9px; margin-left: 9px;"></div></div><div class="gantt_line_wrapper" style="top: 427.5px; left: 417.2px; height: 20px; width: 26px;"><div class="gantt_link_line_right" style="height: 2px; width: 8px; margin-top: 9px; margin-left: 9px;"></div></div><div class="gantt_link_arrow gantt_link_arrow_right" style="top: 434.5px; left: 433.2px;"></div></div><div class="gantt_task_link" link_id="15" aria-label="Link Task #2 (start) Task #2.1 (start) "><div class="gantt_line_wrapper" style="top: 77.5px; left: 417.2px; height: 20px; width: 32px;"><div class="gantt_link_line_left" style="height: 2px; width: 14px; margin-top: 9px; margin-left: 9px;"></div></div><div class="gantt_line_wrapper" style="top: 77.5px; left: 417.2px; height: 55px; width: 20px;"><div class="gantt_link_line_down" style="height: 37px; width: 2px; margin-top: 9px; margin-left: 9px;"></div></div><div class="gantt_line_wrapper" style="top: 112.5px; left: 417.2px; height: 20px; width: 27.2px;"><div class="gantt_link_line_right" style="height: 2px; width: 9.2px; margin-top: 9px; margin-left: 9px;"></div></div><div class="gantt_line_wrapper" style="top: 112.5px; left: 424.4px; height: 20px; width: 26px;"><div class="gantt_link_line_right" style="height: 2px; width: 8px; margin-top: 9px; margin-left: 9px;"></div></div><div class="gantt_link_arrow gantt_link_arrow_right" style="top: 119.5px; left: 440.4px;"></div></div><div class="gantt_task_link" link_id="16" aria-label="Link Task #2.1 (end) Task #2.2 (start) "><div class="gantt_line_wrapper" style="top: 112.5px; left: 450.8px; height: 20px; width: 32px;"><div class="gantt_link_line_right" style="height: 2px; width: 14px; margin-top: 9px; margin-left: 9px;"></div></div><div class="gantt_line_wrapper" style="top: 112.5px; left: 462.8px; height: 37.5px; width: 20px;"><div class="gantt_link_line_down" style="height: 19.5px; width: 2px; margin-top: 9px; margin-left: 9px;"></div></div><div class="gantt_line_wrapper" style="top: 130px; left: 446px; height: 20px; width: 36.8px;"><div class="gantt_link_line_left" style="height: 2px; width: 18.8px; margin-top: 9px; margin-left: 9px;"></div></div><div class="gantt_line_wrapper" style="top: 130px; left: 446px; height: 37.5px; width: 20px;"><div class="gantt_link_line_down" style="height: 19.5px; width: 2px; margin-top: 9px; margin-left: 9px;"></div></div><div class="gantt_line_wrapper" style="top: 147.5px; left: 446px; height: 20px; width: 26px;"><div class="gantt_link_line_right" style="height: 2px; width: 8px; margin-top: 9px; margin-left: 9px;"></div></div><div class="gantt_link_arrow gantt_link_arrow_right" style="top: 154.5px; left: 462px;"></div></div><div class="gantt_task_link" link_id="17" aria-label="Link Task #2.2 (end) Task #2.3 (start) "><div class="gantt_line_wrapper" style="top: 147.5px; left: 479.6px; height: 20px; width: 32px;"><div class="gantt_link_line_right" style="height: 2px; width: 14px; margin-top: 9px; margin-left: 9px;"></div></div><div class="gantt_line_wrapper" style="top: 147.5px; left: 491.6px; height: 37.5px; width: 20px;"><div class="gantt_link_line_down" style="height: 19.5px; width: 2px; margin-top: 9px; margin-left: 9px;"></div></div><div class="gantt_line_wrapper" style="top: 165px; left: 474.8px; height: 20px; width: 36.8px;"><div class="gantt_link_line_left" style="height: 2px; width: 18.8px; margin-top: 9px; margin-left: 9px;"></div></div><div class="gantt_line_wrapper" style="top: 165px; left: 474.8px; height: 37.5px; width: 20px;"><div class="gantt_link_line_down" style="height: 19.5px; width: 2px; margin-top: 9px; margin-left: 9px;"></div></div><div class="gantt_line_wrapper" style="top: 182.5px; left: 474.8px; height: 20px; width: 26px;"><div class="gantt_link_line_right" style="height: 2px; width: 8px; margin-top: 9px; margin-left: 9px;"></div></div><div class="gantt_link_arrow gantt_link_arrow_right" style="top: 189.5px; left: 490.8px;"></div></div><div class="gantt_task_link" link_id="18" aria-label="Link Task #2.3 (end) Task #2.4 (start) "><div class="gantt_line_wrapper" style="top: 182.5px; left: 515.6px; height: 20px; width: 32px;"><div class="gantt_link_line_right" style="height: 2px; width: 14px; margin-top: 9px; margin-left: 9px;"></div></div><div class="gantt_line_wrapper" style="top: 182.5px; left: 527.6px; height: 37.5px; width: 20px;"><div class="gantt_link_line_down" style="height: 19.5px; width: 2px; margin-top: 9px; margin-left: 9px;"></div></div><div class="gantt_line_wrapper" style="top: 200px; left: 474.8px; height: 20px; width: 72.8px;"><div class="gantt_link_line_left" style="height: 2px; width: 54.8px; margin-top: 9px; margin-left: 9px;"></div></div><div class="gantt_line_wrapper" style="top: 200px; left: 474.8px; height: 37.5px; width: 20px;"><div class="gantt_link_line_down" style="height: 19.5px; width: 2px; margin-top: 9px; margin-left: 9px;"></div></div><div class="gantt_line_wrapper" style="top: 217.5px; left: 474.8px; height: 20px; width: 26px;"><div class="gantt_link_line_right" style="height: 2px; width: 8px; margin-top: 9px; margin-left: 9px;"></div></div><div class="gantt_link_arrow gantt_link_arrow_right" style="top: 224.5px; left: 490.8px;"></div></div><div class="gantt_task_link" link_id="19" aria-label="Link Task #4 (end) Task #4.1 (end) "><div class="gantt_line_wrapper" style="top: 287.5px; left: 465.2px; height: 20px; width: 32px;"><div class="gantt_link_line_right" style="height: 2px; width: 14px; margin-top: 9px; margin-left: 9px;"></div></div><div class="gantt_line_wrapper" style="top: 287.5px; left: 477.2px; height: 55px; width: 20px;"><div class="gantt_link_line_down" style="height: 37px; width: 2px; margin-top: 9px; margin-left: 9px;"></div></div><div class="gantt_line_wrapper" style="top: 322.5px; left: 477.2px; height: 20px; width: 20px;"><div class="gantt_link_line_up" style="height: 2px; width: 2px; margin-top: 9px; margin-left: 9px;"></div></div><div class="gantt_line_wrapper" style="top: 322.5px; left: 471.2px; height: 20px; width: 26px;"><div class="gantt_link_line_left" style="height: 2px; width: 8px; margin-top: 9px; margin-left: 9px;"></div></div><div class="gantt_link_arrow gantt_link_arrow_left" style="top: 329.5px; left: 475.2px;"></div></div><div class="gantt_task_link" link_id="20" aria-label="Link Task #4 (end) Task #4.2 (end) "><div class="gantt_line_wrapper" style="top: 287.5px; left: 465.2px; height: 20px; width: 32px;"><div class="gantt_link_line_right" style="height: 2px; width: 14px; margin-top: 9px; margin-left: 9px;"></div></div><div class="gantt_line_wrapper" style="top: 287.5px; left: 477.2px; height: 90px; width: 20px;"><div class="gantt_link_line_down" style="height: 72px; width: 2px; margin-top: 9px; margin-left: 9px;"></div></div><div class="gantt_line_wrapper" style="top: 357.5px; left: 477.2px; height: 20px; width: 20px;"><div class="gantt_link_line_up" style="height: 2px; width: 2px; margin-top: 9px; margin-left: 9px;"></div></div><div class="gantt_line_wrapper" style="top: 357.5px; left: 471.2px; height: 20px; width: 26px;"><div class="gantt_link_line_left" style="height: 2px; width: 8px; margin-top: 9px; margin-left: 9px;"></div></div><div class="gantt_link_arrow gantt_link_arrow_left" style="top: 364.5px; left: 475.2px;"></div></div><div class="gantt_task_link" link_id="21" aria-label="Link Task #4 (end) Task #4.3 (end) "><div class="gantt_line_wrapper" style="top: 287.5px; left: 465.2px; height: 20px; width: 32px;"><div class="gantt_link_line_right" style="height: 2px; width: 14px; margin-top: 9px; margin-left: 9px;"></div></div><div class="gantt_line_wrapper" style="top: 287.5px; left: 477.2px; height: 20px; width: 27.2px;"><div class="gantt_link_line_right" style="height: 2px; width: 9.2px; margin-top: 9px; margin-left: 9px;"></div></div><div class="gantt_line_wrapper" style="top: 287.5px; left: 484.4px; height: 125px; width: 20px;"><div class="gantt_link_line_down" style="height: 107px; width: 2px; margin-top: 9px; margin-left: 9px;"></div></div><div class="gantt_line_wrapper" style="top: 392.5px; left: 478.4px; height: 20px; width: 26px;"><div class="gantt_link_line_left" style="height: 2px; width: 8px; margin-top: 9px; margin-left: 9px;"></div></div><div class="gantt_link_arrow gantt_link_arrow_left" style="top: 399.5px; left: 482.4px;"></div></div></div><div class="gantt_bars_area" data-layer="true" style="width: 864px;"><div task_id="11" class="gantt_task_line" aria-label=" Task: Project #1 Start date: 2013-03-28 End date: 2013-04-08" aria-selected="false" aria-grabbed="false" style="left: 404.129px; top: 2px; height: 30px; line-height: 30px; width: 78px;"><div class="gantt_task_progress" style="width: 46px;"></div><div class="gantt_task_progress_drag" style="left: 46px;"></div><div class="gantt_task_content">Project #1</div><div class="gantt_task_drag task_right"></div><div class="gantt_task_drag task_left"></div><div class="gantt_link_control task_right" style="height: 30px; line-height: 30px;"><div class="gantt_link_point"></div></div><div class="gantt_link_control task_left" style="height: 30px; line-height: 30px;"><div class="gantt_link_point"></div></div></div><div task_id="12" class="gantt_task_line" aria-label=" Task: Task #1 Start date: 2013-04-03 End date: 2013-04-08" aria-selected="false" aria-grabbed="false" style="left: 446.4px; top: 37px; height: 30px; line-height: 30px; width: 36px;"><div class="gantt_task_progress" style="width: 34px;"></div><div class="gantt_task_progress_drag" style="left: 34px;"></div><div class="gantt_task_content">Task #1</div><div class="gantt_task_drag task_right"></div><div class="gantt_task_drag task_left"></div><div class="gantt_link_control task_right" style="height: 30px; line-height: 30px;"><div class="gantt_link_point"></div></div><div class="gantt_link_control task_left" style="height: 30px; line-height: 30px;"><div class="gantt_link_point"></div></div></div><div task_id="13" class="gantt_task_line" aria-label=" Task: Task #2 Start date: 2013-04-02 End date: 2013-04-09" aria-selected="false" aria-grabbed="false" style="left: 439.2px; top: 72px; height: 30px; line-height: 30px; width: 50px;"><div class="gantt_task_progress" style="width: 24px;"></div><div class="gantt_task_progress_drag" style="left: 24px;"></div><div class="gantt_task_content">Task #2</div><div class="gantt_task_drag task_right"></div><div class="gantt_task_drag task_left"></div><div class="gantt_link_control task_right" style="height: 30px; line-height: 30px;"><div class="gantt_link_point"></div></div><div class="gantt_link_control task_left" style="height: 30px; line-height: 30px;"><div class="gantt_link_point"></div></div></div><div task_id="17" class="gantt_task_line" aria-label=" Task: Task #2.1 Start date: 2013-04-03 End date: 2013-04-05" aria-selected="false" aria-grabbed="false" style="left: 446.4px; top: 107px; height: 30px; line-height: 30px; width: 14px;"><div class="gantt_task_progress" style="width: 12px;"></div><div class="gantt_task_progress_drag" style="left: 12px;"></div><div class="gantt_task_content">Task #2.1</div><div class="gantt_task_drag task_right"></div><div class="gantt_task_drag task_left"></div><div class="gantt_link_control task_right" style="height: 30px; line-height: 30px;"><div class="gantt_link_point"></div></div><div class="gantt_link_control task_left" style="height: 30px; line-height: 30px;"><div class="gantt_link_point"></div></div></div><div task_id="18" class="gantt_task_line" aria-label=" Task: Task #2.2 Start date: 2013-04-06 End date: 2013-04-09" aria-selected="false" aria-grabbed="false" style="left: 468px; top: 142px; height: 30px; line-height: 30px; width: 22px;"><div class="gantt_task_progress" style="width: 16px;"></div><div class="gantt_task_progress_drag" style="left: 16px;"></div><div class="gantt_task_content">Task #2.2</div><div class="gantt_task_drag task_right"></div><div class="gantt_task_drag task_left"></div><div class="gantt_link_control task_right" style="height: 30px; line-height: 30px;"><div class="gantt_link_point"></div></div><div class="gantt_link_control task_left" style="height: 30px; line-height: 30px;"><div class="gantt_link_point"></div></div></div><div task_id="19" class="gantt_task_line" aria-label=" Task: Task #2.3 Start date: 2013-04-10 End date: 2013-04-14" aria-selected="false" aria-grabbed="false" style="left: 496.8px; top: 177px; height: 30px; line-height: 30px; width: 29px;"><div class="gantt_task_progress" style="width: 5px;"></div><div class="gantt_task_progress_drag" style="left: 5px;"></div><div class="gantt_task_content">Task #2.3</div><div class="gantt_task_drag task_right"></div><div class="gantt_task_drag task_left"></div><div class="gantt_link_control task_right" style="height: 30px; line-height: 30px;"><div class="gantt_link_point"></div></div><div class="gantt_link_control task_left" style="height: 30px; line-height: 30px;"><div class="gantt_link_point"></div></div></div><div task_id="20" class="gantt_task_line" aria-label=" Task: Task #2.4 Start date: 2013-04-10 End date: 2013-04-14" aria-selected="false" aria-grabbed="false" style="left: 496.8px; top: 212px; height: 30px; line-height: 30px; width: 29px;"><div class="gantt_task_progress" style="width: 0px;"></div><div class="gantt_task_progress_drag" style="left: 0px;"></div><div class="gantt_task_content">Task #2.4</div><div class="gantt_task_drag task_right"></div><div class="gantt_task_drag task_left"></div><div class="gantt_link_control task_right" style="height: 30px; line-height: 30px;"><div class="gantt_link_point"></div></div><div class="gantt_link_control task_left" style="height: 30px; line-height: 30px;"><div class="gantt_link_point"></div></div></div><div task_id="14" class="gantt_task_line" aria-label=" Task: Task #3 Start date: 2013-04-02 End date: 2013-04-08" aria-selected="false" aria-grabbed="false" style="left: 439.2px; top: 247px; height: 30px; line-height: 30px; width: 43px;"><div class="gantt_task_progress" style="width: 33px;"></div><div class="gantt_task_progress_drag" style="left: 33px;"></div><div class="gantt_task_content">Task #3</div><div class="gantt_task_drag task_right"></div><div class="gantt_task_drag task_left"></div><div class="gantt_link_control task_right" style="height: 30px; line-height: 30px;"><div class="gantt_link_point"></div></div><div class="gantt_link_control task_left" style="height: 30px; line-height: 30px;"><div class="gantt_link_point"></div></div></div><div task_id="15" class="gantt_task_line" aria-label=" Task: Task #4 Start date: 2013-04-02 End date: 2013-04-07" aria-selected="false" aria-grabbed="false" style="left: 439.2px; top: 282px; height: 30px; line-height: 30px; width: 36px;"><div class="gantt_task_progress" style="width: 7px;"></div><div class="gantt_task_progress_drag" style="left: 7px;"></div><div class="gantt_task_content">Task #4</div><div class="gantt_task_drag task_right"></div><div class="gantt_task_drag task_left"></div><div class="gantt_link_control task_right" style="height: 30px; line-height: 30px;"><div class="gantt_link_point"></div></div><div class="gantt_link_control task_left" style="height: 30px; line-height: 30px;"><div class="gantt_link_point"></div></div></div><div task_id="21" class="gantt_task_line" aria-label=" Task: Task #4.1 Start date: 2013-04-03 End date: 2013-04-07" aria-selected="false" aria-grabbed="false" style="left: 446.4px; top: 317px; height: 30px; line-height: 30px; width: 29px;"><div class="gantt_task_progress" style="width: 14px;"></div><div class="gantt_task_progress_drag" style="left: 14px;"></div><div class="gantt_task_content">Task #4.1</div><div class="gantt_task_drag task_right"></div><div class="gantt_task_drag task_left"></div><div class="gantt_link_control task_right" style="height: 30px; line-height: 30px;"><div class="gantt_link_point"></div></div><div class="gantt_link_control task_left" style="height: 30px; line-height: 30px;"><div class="gantt_link_point"></div></div></div><div task_id="22" class="gantt_task_line" aria-label=" Task: Task #4.2 Start date: 2013-04-03 End date: 2013-04-07" aria-selected="false" aria-grabbed="false" style="left: 446.4px; top: 352px; height: 30px; line-height: 30px; width: 29px;"><div class="gantt_task_progress" style="width: 3px;"></div><div class="gantt_task_progress_drag" style="left: 3px;"></div><div class="gantt_task_content">Task #4.2</div><div class="gantt_task_drag task_right"></div><div class="gantt_task_drag task_left"></div><div class="gantt_link_control task_right" style="height: 30px; line-height: 30px;"><div class="gantt_link_point"></div></div><div class="gantt_link_control task_left" style="height: 30px; line-height: 30px;"><div class="gantt_link_point"></div></div></div><div task_id="23" class="gantt_task_line" aria-label=" Task: Task #4.3 Start date: 2013-04-03 End date: 2013-04-08" aria-selected="false" aria-grabbed="false" style="left: 446.4px; top: 387px; height: 30px; line-height: 30px; width: 36px;"><div class="gantt_task_progress" style="width: 0px;"></div><div class="gantt_task_progress_drag" style="left: 0px;"></div><div class="gantt_task_content">Task #4.3</div><div class="gantt_task_drag task_right"></div><div class="gantt_task_drag task_left"></div><div class="gantt_link_control task_right" style="height: 30px; line-height: 30px;"><div class="gantt_link_point"></div></div><div class="gantt_link_control task_left" style="height: 30px; line-height: 30px;"><div class="gantt_link_point"></div></div></div><div task_id="16" class="gantt_task_line" aria-label=" Task: Task #5 Start date: 2013-04-02 End date: 2013-04-09" aria-selected="false" aria-grabbed="false" style="left: 439.2px; top: 422px; height: 30px; line-height: 30px; width: 50px;"><div class="gantt_task_progress" style="width: 0px;"></div><div class="gantt_task_progress_drag" style="left: 0px;"></div><div class="gantt_task_content">Task #5</div><div class="gantt_task_drag task_right"></div><div class="gantt_task_drag task_left"></div><div class="gantt_link_control task_right" style="height: 30px; line-height: 30px;"><div class="gantt_link_point"></div></div><div class="gantt_link_control task_left" style="height: 30px; line-height: 30px;"><div class="gantt_link_point"></div></div></div><div task_id="1" class="gantt_task_line" aria-label=" Task: Project #2 Start date: 2013-04-01 End date: 2013-04-19" aria-selected="false" aria-grabbed="false" style="left: 432px; top: 457px; height: 30px; line-height: 30px; width: 130px;"><div class="gantt_task_progress" style="width: 51px;"></div><div class="gantt_task_progress_drag" style="left: 51px;"></div><div class="gantt_task_content">Project #2</div><div class="gantt_task_drag task_right"></div><div class="gantt_task_drag task_left"></div><div class="gantt_link_control task_right" style="height: 30px; line-height: 30px;"><div class="gantt_link_point"></div></div><div class="gantt_link_control task_left" style="height: 30px; line-height: 30px;"><div class="gantt_link_point"></div></div></div><div task_id="2" class="gantt_task_line" aria-label=" Task: Task #1 Start date: 2013-04-02 End date: 2013-04-10" aria-selected="false" aria-grabbed="false" style="left: 439.2px; top: 492px; height: 30px; line-height: 30px; width: 58px;"><div class="gantt_task_progress" style="width: 28px;"></div><div class="gantt_task_progress_drag" style="left: 28px;"></div><div class="gantt_task_content">Task #1</div><div class="gantt_task_drag task_right"></div><div class="gantt_task_drag task_left"></div><div class="gantt_link_control task_right" style="height: 30px; line-height: 30px;"><div class="gantt_link_point"></div></div><div class="gantt_link_control task_left" style="height: 30px; line-height: 30px;"><div class="gantt_link_point"></div></div></div><div task_id="5" class="gantt_task_line" aria-label=" Task: Task #1.1 Start date: 2013-04-02 End date: 2013-04-09" aria-selected="false" aria-grabbed="false" style="left: 439.2px; top: 527px; height: 30px; line-height: 30px; width: 50px;"><div class="gantt_task_progress" style="width: 29px;"></div><div class="gantt_task_progress_drag" style="left: 29px;"></div><div class="gantt_task_content">Task #1.1</div><div class="gantt_task_drag task_right"></div><div class="gantt_task_drag task_left"></div><div class="gantt_link_control task_right" style="height: 30px; line-height: 30px;"><div class="gantt_link_point"></div></div><div class="gantt_link_control task_left" style="height: 30px; line-height: 30px;"><div class="gantt_link_point"></div></div></div><div task_id="6" class="gantt_task_line" aria-label=" Task: Task #1.2 Start date: 2013-04-03 End date: 2013-04-10" aria-selected="false" aria-grabbed="false" style="left: 446.4px; top: 562px; height: 30px; line-height: 30px; width: 50px;"><div class="gantt_task_progress" style="width: 29px;"></div><div class="gantt_task_progress_drag" style="left: 29px;"></div><div class="gantt_task_content">Task #1.2</div><div class="gantt_task_drag task_right"></div><div class="gantt_task_drag task_left"></div><div class="gantt_link_control task_right" style="height: 30px; line-height: 30px;"><div class="gantt_link_point"></div></div><div class="gantt_link_control task_left" style="height: 30px; line-height: 30px;"><div class="gantt_link_point"></div></div></div><div task_id="3" class="gantt_task_line" aria-label=" Task: Task #2 Start date: 2013-04-11 End date: 2013-04-19" aria-selected="false" aria-grabbed="false" style="left: 504px; top: 597px; height: 30px; line-height: 30px; width: 58px;"><div class="gantt_task_progress" style="width: 34px;"></div><div class="gantt_task_progress_drag" style="left: 34px;"></div><div class="gantt_task_content">Task #2</div><div class="gantt_task_drag task_right"></div><div class="gantt_task_drag task_left"></div><div class="gantt_link_control task_right" style="height: 30px; line-height: 30px;"><div class="gantt_link_point"></div></div><div class="gantt_link_control task_left" style="height: 30px; line-height: 30px;"><div class="gantt_link_point"></div></div></div><div task_id="7" class="gantt_task_line" aria-label=" Task: Task #2.1 Start date: 2013-04-11 End date: 2013-04-19" aria-selected="false" aria-grabbed="false" style="left: 504px; top: 632px; height: 30px; line-height: 30px; width: 58px;"><div class="gantt_task_progress" style="width: 34px;"></div><div class="gantt_task_progress_drag" style="left: 34px;"></div><div class="gantt_task_content">Task #2.1</div><div class="gantt_task_drag task_right"></div><div class="gantt_task_drag task_left"></div><div class="gantt_link_control task_right" style="height: 30px; line-height: 30px;"><div class="gantt_link_point"></div></div><div class="gantt_link_control task_left" style="height: 30px; line-height: 30px;"><div class="gantt_link_point"></div></div></div><div task_id="4" class="gantt_task_line" aria-label=" Task: Task #3 Start date: 2013-04-13 End date: 2013-04-19" aria-selected="false" aria-grabbed="false" style="left: 518.4px; top: 667px; height: 30px; line-height: 30px; width: 43px;"><div class="gantt_task_progress" style="width: 21px;"></div><div class="gantt_task_progress_drag" style="left: 21px;"></div><div class="gantt_task_content">Task #3</div><div class="gantt_task_drag task_right"></div><div class="gantt_task_drag task_left"></div><div class="gantt_link_control task_right" style="height: 30px; line-height: 30px;"><div class="gantt_link_point"></div></div><div class="gantt_link_control task_left" style="height: 30px; line-height: 30px;"><div class="gantt_link_point"></div></div></div><div task_id="8" class="gantt_task_line" aria-label=" Task: Task #3.1 Start date: 2013-04-14 End date: 2013-04-19" aria-selected="false" aria-grabbed="false" style="left: 525.6px; top: 702px; height: 30px; line-height: 30px; width: 36px;"><div class="gantt_task_progress" style="width: 17px;"></div><div class="gantt_task_progress_drag" style="left: 17px;"></div><div class="gantt_task_content">Task #3.1</div><div class="gantt_task_drag task_right"></div><div class="gantt_task_drag task_left"></div><div class="gantt_link_control task_right" style="height: 30px; line-height: 30px;"><div class="gantt_link_point"></div></div><div class="gantt_link_control task_left" style="height: 30px; line-height: 30px;"><div class="gantt_link_point"></div></div></div><div task_id="9" class="gantt_task_line" aria-label=" Task: Task #3.2 Start date: 2013-04-14 End date: 2013-04-18" aria-selected="false" aria-grabbed="false" style="left: 525.6px; top: 737px; height: 30px; line-height: 30px; width: 29px;"><div class="gantt_task_progress" style="width: 14px;"></div><div class="gantt_task_progress_drag" style="left: 14px;"></div><div class="gantt_task_content">Task #3.2</div><div class="gantt_task_drag task_right"></div><div class="gantt_task_drag task_left"></div><div class="gantt_link_control task_right" style="height: 30px; line-height: 30px;"><div class="gantt_link_point"></div></div><div class="gantt_link_control task_left" style="height: 30px; line-height: 30px;"><div class="gantt_link_point"></div></div></div><div task_id="10" class="gantt_task_line" aria-label=" Task: Task #3.3 Start date: 2013-04-14 End date: 2013-04-17" aria-selected="false" aria-grabbed="false" style="left: 525.6px; top: 772px; height: 30px; line-height: 30px; width: 22px;"><div class="gantt_task_progress" style="width: 10px;"></div><div class="gantt_task_progress_drag" style="left: 10px;"></div><div class="gantt_task_content">Task #3.3</div><div class="gantt_task_drag task_right"></div><div class="gantt_task_drag task_left"></div><div class="gantt_link_control task_right" style="height: 30px; line-height: 30px;"><div class="gantt_link_point"></div></div><div class="gantt_link_control task_left" style="height: 30px; line-height: 30px;"><div class="gantt_link_point"></div></div></div></div></div></div><div class="gantt_ver_scroll" style="display: block; height: 554px; width: 18px; top: 90px;"><div style="height: 805px;"></div></div><div class="gantt_hor_scroll" style="display: block; width: 913px; height: 18px;"><div style="width: 1384px;"></div></div></div></div>

	<script type="text/javascript">

		gantt.config.scale_unit = "year";
		gantt.config.step = 1;
		gantt.config.date_scale = "%Y";
		gantt.config.min_column_width = 50;

		gantt.config.scale_height = 90;

		var monthScaleTemplate = function(date){
			var dateToStr = gantt.date.date_to_str("%M");
			var endDate = gantt.date.add(date, 2, "month");
			return dateToStr(date) + " - " + dateToStr(endDate);
		};

		gantt.config.subscales = [
			{unit:"month", step:3, template:monthScaleTemplate},
			{unit:"month", step:1, date:"%M" }
		];

		gantt.init("gantt_here");
		gantt.parse(demo_tasks);
	</script>
	
                  
              </div><!-- /.box -->
            </div><!-- /.col -->
          </div><!-- /.row -->
        </section><!-- /.content -->
        </div>
</asp:Content>
