/*   
Template Name: Metronic - Responsive Website Template build with Twitter Bootstrap v2.3.2
Version: 1.0
Author: KeenThemes
Website: http://www.keenthemes.com/preview/?theme=metronic
Purchase: http://themeforest.net/item/metronic-responsive-admin-dashboard-template/4021469
*/

/* overides metro scrolbars in IE10 and makes them look like a default scrollbar */
@-ms-viewport{
	width: auto !important;
}

/*Global classes*/
.container {
	padding: 0 10px;
}

.min-hight {
	min-height: 500px;
}

/********************
 GENERAL LAYOUT 
*********************/

/***
Top Bar
***/
.front-topbar {
	border-bottom: solid 1px #f5f5f5;
}

.front-topbar li {
	padding: 6px 0;
	display: block;
}

.front-topbar a,
.front-topbar li {
	color: #999;
	font-size: 12px;
}

.front-topbar li.sep span {
	color: #eee;
	font-size: 15px;
}

.front-topbar li i.topbar-info-icon {
	margin-right: 3px;
}

/*Social Icons*/
.front-topbar .topbar-social {
	text-align: right;
}

.front-topbar .topbar-social li {
	padding: 0;
}

.front-topbar .topbar-social i {
	color: #bbb;
	opacity: 0.7;
	font-size: 15px;
	padding: 9px 5px 8px;
	display: inline-block;
}

.front-topbar .topbar-social a:hover {
	text-decoration: none;
}

.front-topbar .topbar-social a:hover i {
	color: #999;
	opacity: 1;
}

.front-topbar .topbar-social a:hover i {
    transition: background 0.9s ease;
    -o-transition: background 0.9s ease;
    -moz-transition: background 0.9s ease;
    -webkit-transition: background 0.9s ease;			
}

.front-topbar .topbar-social a:hover i.icon-facebook {
	color: #fff;
	background: #677fb1 !important;		
}
.front-topbar .topbar-social a:hover i.icon-twitter {
	color: #fff;
	background: #04a5e9 !important;		
}
.front-topbar .topbar-social a:hover i.icon-google-plus {
	color: #fff;
	background: #e14544 !important;		
}
.front-topbar .topbar-social a:hover i.icon-linkedin {
	color: #fff;
	background: #28afd1 !important;		
}
.front-topbar .topbar-social a:hover i.icon-youtube {
	color: #fff;
	background: #e36c6e !important;		
}
.front-topbar .topbar-social a:hover i.icon-skype {
	color: #fff;
	background: #3fd0fa !important;		
}

/***
Header and header elements.
***/
/*Navigation*/
.front-header {
	z-index: 999;
	position: relative;
	box-shadow: 0 1px 3px #ddd;
}

.front-header .navbar {
	margin-bottom: 0;
}

.front-header .navbar-inner {
	filter:none;
	border: none; 
	padding-left: 0;
	padding-right: 0;
	border-radius: 0;
	background: none;
	box-shadow: none;
}

.front-header .navbar-inner a.brand {
	font-size: 23px;
	font-weight: 400; 
}

.front-header .navbar-inner a.brand b {
	color: #0da3e2;
	font-weight: 400; 
}

.front-header .navbar-inner a.brand span {
	color: #b0b0b0;
	display: block;
	font-size: 12px;
}

.front-header .navbar-inner li:first-child {
	margin-left: 0;
}

.front-header .navbar-inner li a {
	color: #333;
	font-size: 15px;
	font-weight: 400;
	text-shadow: none;
	position: relative;
	padding: 32px 22px 42px;
}

.front-header .navbar-inner li > a:hover,
.front-header .navbar-inner li.active > a,
.front-header .navbar-inner li.active:hover > a {
	color: #0da3e2;
	border-radius: 0;
	text-shadow: none;
	padding-top: 30px;
	box-shadow: none !important;
	border-top: solid 2px #0da3e2;
}

.front-header .navbar .nav>li>a:focus, 
.front-header .navbar .nav>li>a:hover {
	color: #888;
}

.front-header .navbar-inner .nav-collapse > ul {
	float: right;
	margin-right: 0;
}

.front-header .navbar-inner .in.collapse ul {
	margin-top: 0;
}

.front-header .navbar-inner .in.collapse li a:hover {
	color: #fff;
	background: #0da3e2;
}

.front-header .navbar-inner .in.collapse li.active > a,
.front-header .navbar-inner .in.collapse li.active:hover > a {
	color: #fff;
	background: #0da3e2;
}

/*Navigation Toggle Icon*/
.front-header .navbar-inner .btn-navbar {
	border: none;
	padding:10px;
	margin-top: 5px;
	border-radius: 0;
	background:#0da3e2;
}
.front-header .navbar-inner .btn-navbar:hover {
	background:#0a8ec5 !important;
}
.front-header .navbar-inner .btn-navbar span, 
.front-header .navbar-inner .btn-navbar:hover span { 
	background:#fff !important;
	box-shadow:none !important;
}

/*Navigation Dropdown*/
.front-header .navbar-inner .dropdown-menu {
	border: none; 
	box-shadow: none;
	min-width: 185px;
	border-bottom: none;
	border-left: solid 1px #eee; 
	border-right: solid 1px #eee; 
	border-top: solid 2px #0da3e2; 
}

.front-header .navbar-inner .dropdown-menu li {
	margin-left: 0;
	border-bottom: solid 1px #f5f5f5;
}

.front-header .navbar-inner .dropdown-menu li a {
	color: #444;
	font-size: 14px;
	font-weight: 300;
	padding: 10px 18px;
	text-transform: inherit;
}

.front-header .navbar-inner .dropdown-menu li a:hover,
.front-header .navbar-inner li.active .dropdown-menu li a:hover  {
	border: none;
	padding: 10px 18px;
	color: #444 !important;
	background: #fdfdfd !important;
}

.front-header .navbar-inner li.active .dropdown-menu li.active a {
	border: none;
	padding: 10px 18px;
	color: #444 !important;
	background: #f7f9fa !important;
}

.front-header .navbar .nav>li>.dropdown-menu:after,
.front-header .navbar .nav>li>.dropdown-menu:before {
	border: none;
}

.front-header .navbar .nav li.dropdown.open>.dropdown-toggle {
	color: #0da3e2;
	background: none;
}

.front-header .navbar .nav li.dropdown .dropdown-toggle i {
	font-size: 12px;
}

.front-header .navbar-inner .in.collapse li.dropdown.active > a,
.front-header .navbar-inner .in.collapse li.dropdown.active:hover > a {
	color: #fff;
	background: #0da3e2;
}

.front-header .nav > li.dropdown.open.active > a:hover,
.front-header .nav > li.dropdown.open.active > a:focus {
  border-color: #0da3e2;
}

/*Menu Search*/
.front-header .navbar-inner li.menu-search {
	position: relative;
	padding: 15px 0;
}

.front-header .navbar-inner li.menu-search i {
	color: #bbb;
	font-size: 16px;
	cursor: pointer;
}

.front-header .navbar-inner li.menu-search i:hover {
	color: #0da3e2;
}

.front-header .search-box {
	right: 0;
	top: 105px;
	padding: 10px;
	display: none;
	background: #fff;
	position: absolute;
	border: solid 1px #eee;
	border-top: none !important;
}

.front-header .search-box input {
	width: 250px;
	margin-bottom: 0;
}

.front-header .search-box form, 
.front-header .search-box input,
.front-header .search-box .input-append {
	margin-bottom: 0;
}

/***
Slider
***/
.slider-main {
	z-index: 1;
	position: relative;
	border-top: solid 1px #eee;
	border-bottom: solid 1px #eee;
	max-height:450px !important;
	overflow:hidden;
}

.slider-colored {
	z-index: 1;
	height: 495px !important;
	position: relative;
	border-top: solid 1px #eee;
	border-bottom: solid 1px #eee;
}

.slide_title {
	font-family: 'Open Sans';
	font-weight: 300;
	color:#3f5862;
	text-transform: uppercase;
	font-size:47px;
}

.slide_subtitle {
	font-family: 'Open Sans';
	font-weight: 400;
	background-color: #0088cc;
	padding: 5px;
	color:#fafafa;
	text-transform: uppercase;
	font-size:18px;
}

.slide_list_item {
	font-family: 'Open Sans';
	font-weight: 400;
	background-color: #0088cc;
	padding: 5px;
	color:#fafafa;
	text-transform: uppercase;
	font-size:14px;
}

.slide_desc {
	color:#7b8793;
	font-size:14px;
	line-height:24px;
}

.slide_desc_bordered {
	border-left: 3px solid #ddd !important; 
	padding-left: 5px;
}

.slide_btn {
	font-family: 'Open Sans';
	font-weight: 300;
	background:#6fc561;
	padding:7px 15px;
	color:#fff;
	font-size:14px;
	text-transform: uppercase;
	cursor:pointer;
}

.tp-leftarrow.default { 
	background: #d2d7dc url(../img/sliders/revolution/arrow_left.png) no-repeat center !important;	
	width:40px !important;	
	height:50px !important;
}

.tp-rightarrow.default {	
	background:  #d2d7dc url(../img/sliders/revolution/arrow_right.png) no-repeat center !important;
	width:40px !important;	
	height:50px !important;
}

/***
Content and content elements.
***/
/*Services Box*/
.service-box {
	margin: 30px 0; 
}

.service-box p {
	color: #656565;
	font-size: 13px;
}

.service-box .service-box-heading {
	padding: 12px 0;
}

.service-box .service-box-heading i {
	padding: 0;
	-webkit-border-radius: 34px;
	   -moz-border-radius: 34px;
	   	    border-radius: 34px;
    font-size:18px;
    height:32px;
    width:32px;
    line-height: 32px;
    text-align:center;
    vertical-align: baseline;
}

.service-box .service-box-heading i.blue {
	color: #0da3e2;
	border:1px solid #0da3e2;
}

.service-box .service-box-heading i.red {
	color: #db3a1b;
	border:1px solid #db3a1b;
}

.service-box .service-box-heading i.green {
	color: #35aa47;
	border:1px solid #35aa47;
}

.service-box .service-box-heading span {
	color: #444;
	font-size: 21px;
	line-height: 25px;
	font-weight: 400;
	margin-bottom: 10px; 
	margin-left: 10px;
	display: inline-block;
}

.service-box .service-box-heading [class^="icon-"],
.service-box [class*=" icon-"] {
  display: inline-block;
  text-align: center;
}

.service-box .service-box-heading [class^="icon-"].icon-large,
.service-box .service-box-heading [class*=" icon-"].icon-large {
  /* increased font size for icon-large */
  width: 1.5625em;
}

/*Blockquote Box*/
.quote-v1 {
	margin: 30px 0;
	background: #0da3e2;
}

.quote-v1 a {
	margin: 5px;
	display: inline-block;
}

.quote-v1 span {
	color: #fff;
	font-size: 22px;
	font-weight: 300;
	margin: 9px 5px;
	line-height: 26px;
	display: inline-block;
}

.quote-v1-inner {
	padding: 10px; 
}

/*Recent Works*/
.recent-work {
	margin: 20px 0;
}

.recent-work a:hover {
	text-decoration: none;
}

.recent-work h2 {
	margin: 5px 0 20px;
	padding-right: 50px;
}

/*Mixed Block*/
.mix-block {
	margin: 30px 0;
}

/*Tabs*/
.tab-style-1 ul.nav-tabs {
	margin-bottom: 0;
	border-bottom-color: #0da3e2; 
}

.tab-style-1 ul.nav-tabs > li {
	margin-bottom: 0;
	margin-right: 3px;
}

.tab-style-1 ul.nav-tabs li > a {
	color: #7c858e;
	font-size: 14px;
	margin-top: 1px;
	min-width: 100px;
	padding: 5px 15px;
	text-align: center;
	background: #f4f4f4;
}

.tab-style-1 ul.nav-tabs li > a:hover {
	color: #fff;
	background: #0da3e2;
	border-color: #0da3e2;
}

.tab-style-1 ul.nav-tabs .active > a,
.tab-style-1 ul.nav-tabs .active > a:hover,
.tab-style-1 ul.nav-tabs .active > a:focus {
	color: #fff;
	background: #0da3e2;
	border-color: #0da3e2;
}

.tab-style-1 .tab-content {
	padding: 20px 15px;
	background: #fafafa;
}

.tab-style-1 .tab-content p {
	margin-bottom: 0;
}

.tab-style-1 .tab-content img {
	margin: 5px 0 10px;
}

/*Testimonials*/
.testimonials-v1 .carousel {
	margin-bottom: 0;
}

.testimonials-v1 .item span.testimonials-slide {
	padding: 15px; 
	color: #8a8a8a;
	display: block;
	font-size: 14px;
	line-height: 20px;
	font-style: italic;
	background: #f8f8f8 url(../img/corners.png) no-repeat right bottom;
}	

.testimonials-v1 .carousel-info {
	overflow: hidden;
	padding-top: 15px;
	background: url(../img/arrow-testimonials.png) no-repeat 83px 0;
}

.testimonials-v1 .carousel-info img {
	width: 75px;
	height: 75px;
	padding: 3px; 
	border-radius: 150px !important;
	border: solid 1px #f5f5f5;
}

.testimonials-v1 .carousel-info {
	overflow: hidden;
}

.testimonials-v1 .carousel-info img {
	margin-right: 15px;
}

.testimonials-v1 .carousel-info span {
	display: block;
}

.testimonials-v1 span.testimonials-name {
	color: #0da3e2;
	font-size: 16px;
	font-weight: 300;
	margin: 23px 0 7px;
}

.testimonials-v1 span.testimonials-post {
	color: #656565;
	font-size: 12px;
}

.testimonials-v1 .left-btn,
.testimonials-v1 .right-btn {
	right: 0;
	width: 24px;
	height: 24px;
	bottom: 30px;
	position: absolute;
	display: inline-block;
}

.testimonials-v1 .left-btn {
	right: 25px;
	background: url(../img/icons/left.png) no-repeat;
}
.testimonials-v1 .right-btn {
	background: url(../img/icons/right.png) no-repeat;
}

.testimonials-v1 .right-btn:hover {
	background: url(../img/icons/right-hover.png) no-repeat;
}
.testimonials-v1 .left-btn:hover {
	background: url(../img/icons/left-hover.png) no-repeat;
}

/*Steps*/
.front-steps {
	padding: 15px 20px 20px;
}

.front-steps p {
	color: #fff;
	font-size: 14px;
	line-height: 20px;
	margin-bottom: 0;
}

.front-steps h2 {
	color: #f0f0f0;
	font-size: 24px;
}

.front-steps.front-step-one h2 {
	color: #fefefe;
}

.front-steps.front-step-one {
    background: #0da3e2 url(../img/steps/s1.png) no-repeat right bottom;
}
.front-steps.front-step-two {
    background: #7c858e url(../img/steps/s2.png) no-repeat right bottom;
}
.front-steps.front-step-two-last {
    background: #7c858e url(../img/steps/s2.png) no-repeat right bottom;
}
.front-steps.front-step-three {
    background: #68727c url(../img/steps/s3.png) no-repeat right bottom;
}
.front-steps.front-step-four {
    background: #545f6a url(../img/steps/s4.png) no-repeat right bottom;
}

.front-steps.front-step-one,
.front-steps.front-step-two,
.front-steps.front-step-three {
    position: relative;
}

.front-steps.front-step-one:after,
.front-steps.front-step-two:after,
.front-steps.front-step-three:after { 
    top: 50%;
    width: 0; 
    height: 0;
    left: 100%;
    z-index: 2; 
    content: " "; 
    display: block; 
    margin-top: -1em; 
    position: absolute;
    border-left: 15px solid #36b3e7;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
}

.front-steps.front-step-two:after {
    border-left-color: #7c858e; 
}

.front-steps.front-step-three:after {
    border-left-color: #68727c; 
}

/*Clients*/
.clients-list {
	margin: 0;
}

.clients-list li {
	background: #f9f9f9;
	position: relative;
}

.clients-list li img.color-img {
	top:0;
	left:0;
	display:none;
	position:absolute;
}

.clients-list li:hover img.color-img { 
	display:block;
}

/***
Footer
***/
.front-footer {    
	padding: 20px 0;
    color: white;
	font-size: 13px;
	background: #62707f;
}

.front-footer h2 {
	color: #eee;
}

.front-footer p {
	color: #eee;
}

.front-footer a {
	color: #0da3e2;
}

.front-footer address {
	color: #eee;
}

.front-footer dl.f-twitter {
	overflow: hidden;
}

.front-footer dl.f-twitter dt {
	width: 30px;
	float: left;
	text-align: left;
	padding-top: 2px;
}

.front-footer dl.f-twitter dt i {
	color: #fff;
	font-size: 20px;
}

.front-footer dl.f-twitter dd {
	color: #eee;
	margin-left: 30px;
}

.front-footer dl.f-twitter dd span {
	color: #adbdce;
	font-size: 12px;
	margin: 0 5px;
}

.front-footer .blog-photo-stream {
	margin-top: 11px;
}

.front-footer .blog-photo-stream li {
	margin: 4px 5px 4px 0;
}

.front-footer .blog-photo-stream img {
	padding: 0;
	border: solid 2px #9ca5ae;
}

.front-footer .blog-photo-stream img:hover {
    transition:all 0.3s ease-in-out;
    -o-transition:all 0.3s ease-in-out;
    -moz-transition:all 0.3s ease-in-out;
    -webkit-transition:all 0.3s ease-in-out;	
}

/***
Copyright
***/
.front-copyright {
	color: #dee4eb;
	font-size: 12px;
	padding: 10px 0;
	background: #4a5866;
}

.front-copyright p {
	color: #bbb;
	margin-top: 7px;
	margin-bottom: 0;
}

.front-copyright p a {
	color: #2298ca;
}

.front-copyright .social-footer {
	margin: 0;
	margin-top: 8px;
	list-style: none;
	text-align: right;
}

.front-copyright .social-footer li {
	margin-left: 3px;
	display: inline-block;
}

.front-copyright .social-footer li i {
	color: #808e9c;
	font-size: 18px;
	display: inline-block;
}

.front-copyright .social-footer li i:hover {
	color: #fff;
    transition:all 0.3s ease-in-out;
    -o-transition:all 0.3s ease-in-out;
    -moz-transition:all 0.3s ease-in-out;
    -webkit-transition:all 0.3s ease-in-out;		
}

.front-copyright .social-footer li a:hover {
	text-decoration: none;
}

/*Breadcrumbs*/
.breadcrumbs {
	padding: 6px 0;
	background: #fcfcfc;
	border-top: solid 1px #f5f5f5;
	border-bottom: solid 1px #f5f5f5;
}

.breadcrumbs h1 {
	color: #555;
	font-size: 24px;
	line-height: 35px;
}

.breadcrumbs ul {
	top: 10px;
	background: none;
	margin-bottom: 0;
	position: relative;
}

.breadcrumbs li a {
	color: #0da3e2;
}

.breadcrumbs ul.breadcrumb {
	padding-left: 0;
}

/*Carousel*/
.front-carousel .carousel-control {
	margin: 0;
	border: none;
	height: 33px;
	font-size: 25px;
	font-weight: normal;
}

.front-carousel .carousel-caption {
	padding: 10px 15px;
	background: rgba(0,0,0,0.5);
}

.front-carousel .carousel-control.left {
	left: 0;
}
.front-carousel .carousel-control.right {
	right: 0;
}

/*Skils*/
.front-skills span {
	color: #555;
	display: block;
	font-size: 15px;
	margin-bottom: 7px;
}

.front-skills .progress {
	background: none #f2f2f2;
}

.front-skills .progress .bar {
	background: none #0da3e2;
}

.front-skills .progress,
.front-skills .progress .bar {
	box-shadow: none;
}

/*Lists*/
.front-lists-v1 li {
	font-size: 14px;
	margin-bottom: 5px;
}

.front-lists-v2 li {
	color: #555;
	font-size: 16px;
	margin-bottom: 14px;
	text-transform: uppercase;
}

.front-lists-v2 li i {
	margin-right: 5px;
	font-size: 17px;
}

.front-lists-v3 li {
	font-size: 14px;
	margin-bottom: 14px;
}

.front-lists-v3 li i {
	margin-right: 5px;
	font-size: 17px;
}

/*Team Blocks*/
.front-team {
	margin: 20px 0;
}

.front-team h3 {
	margin-bottom: 12px;
}

.front-team h3 a {
	color: #0da3e2;
	font-size: 20px;
	font-weight: 400; 
}

.front-team h3 a:hover {
	text-decoration: none;
}

.front-team h3 small {
	display: block;
	font-size: 13px; 
}

.front-team ul {
	padding-top: 4px;
}

/*Service Box v1*/
.service-box-v1 {
	padding: 15px; 
	text-align: center;
}

.service-box-v1 i {
	padding: 15px;
	font-size: 35px;
}

.service-box-v1:hover {
	background: #0da3e2;
    transition:all 0.4s ease-in-out;
    -o-transition:all 0.4s ease-in-out;
    -moz-transition:all 0.4s ease-in-out;
    -webkit-transition:all 0.4s ease-in-out;
}

.service-box-v1:hover i,
.service-box-v1:hover p,
.service-box-v1:hover h2 {
	color: #fff;
}

/***
Google Maps
***/
.gmaps {
  width: 100%;
}

/* important!  bootstrap sets max-width on img to 100% which conflicts with google map canvas*/
.gmaps img {
  max-width: none; 
}

/***
Blog Page
***/
/*Blog Posts*/
.blog-posts h2 {
	margin-top: 0;
}

.blog-posts p {
	text-align: justify;
}

.blog-posts .carousel {
	margin-bottom: 0;
}

.blog-posts hr.blog-post-sep {
	margin: 40px 0;
}

.blog-info {
	list-style: none;
	margin: 15px 0 12px 0;
}

.blog-info li {
	padding: 0;
	color: #555;
	font-size: 13px;
	margin-right: 10px; 
	display: inline-block;
}

.blog-info li i {
	color: #0da3e2;
}

.blog-posts .pagination {
	margin-top: 40px;
}

/*Blog Sidebar*/
.blog-sidebar h2 {
	margin-top: 0;
}

.recent-news {
	overflow: hidden;
}

.recent-news h3 {
	font-size: 16px;
	line-height: 20px;
	margin: 0;
}

.blog-talks .tab-style-1 ul.nav-tabs li > a {
	min-width: 50px;
}

.blog-photo-stream li {
	overflow: hidden;
	margin: 0 5px 8px 0;
	display: inline-block;
}

.blog-photo-stream li img {
	width: 54px;
	height: 54px;
	padding: 2px; 
	border: solid 1px #eee;
}

.blog-photo-stream li img:hover {
	border-color: #0da3e2;
	box-shadow: 0 0 1px #fff;
	transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-webkit-transition: all 0.4s ease-in-out;
}

.blog-tags ul {
	list-style: none;
	margin: 0;
}

.blog-tags li {
	position: relative;
	margin: 0 16px 7px 0;
	display: inline-block;
}

.blog-tags li a {
	color: #555;
	background: #f5f5f5;
	display: inline-block; 
	padding: 2px 5px 2px 3px;
}

.blog-tags li a:hover {
	color: #fff;
	background: #0da3e2;
	text-decoration: none;
}

.blog-tags li a:hover i {
	color: #fff;
}

.blog-tags li i {
	color: #0da3e2;
	margin-right: 5px;
	display: inline-block;
}

.blog-tags li a:after { 
	top: 50%;
	width: 0; 
	left: 100%;
	height: 0;
	z-index: 2; 
	content: " "; 
	display: block; 
	margin-top: -12px; 
	position: absolute;
	border-left: 12px solid #f5f5f5;
	border-top: 12px solid transparent;
	border-bottom: 12px solid transparent;	
}

.blog-tags li a:hover:after { 
	border-left-color: #0da3e2;
}

/***
Blog Item
***/
.blog-item .blog-item-img {
	margin: 6px 0 25px;
}

.blog-item .blog-item-img .carousel {
	margin-bottom: 0;
}

.blog-item blockquote {
	margin: 20px 40px 18px;
	border-color: #0da3e2;
}

.blog-item .blog-info {
	margin: 20px 0;
	padding: 8px 0;
	border-top: solid 1px #eee;
	border-bottom: solid 1px #eee;
}

.blog-item .blog-info li {
	padding-left: 13px; 
	border-left: solid 1px #eee;
}

.blog-item .blog-info li:first-child {
	padding-left: 0; 
	border-left: none; 
}

.blog-item .blog-item-img .carousel-control {
	top: 45%;
}

.blog-item img.media-object {
    top: 2px;
	width: 60px;
	height: 60px;
    position: relative;
}

.blog-item h4.media-heading {
    position: relative;
}

.blog-item h4.media-heading span {
    right: 0;
    top: 3px;
    color: #777;
    font-size: 12px;
    font-weight: 400;
    position: absolute;
}

.blog-item h4.media-heading span a {
    color: #0da3e2;
}

/***
Icons
***/

/***
Social Icons
***/
.social-icons {
  margin:0;
}

.social-icons:after,
.social-icons:before {  
  content: "";
  display: table;
}

.social-icons:after {    
  clear: both;
}

.social-icons li {
  float:left;
  display:inline;
  list-style:none;
  margin-right:5px;
  margin-bottom:5px;
  text-indent:-9999px;
}
.social-icons li a, 
a.social-icon {
  width:28px;
  height:28px;
  display:block;
  background-position:0 0;
  background-repeat:no-repeat;
  transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
}
.social-icons li:hover a {
  background-position:0 -38px;
}

.social-icons-color li a {
  opacity: 0.7;
  background-position:0 -38px !important;
}

.social-icons-color li a:hover {
  opacity: 1;
}

.social-icons .amazon {background: url(../img/icons/social/amazon.png) no-repeat;}
.social-icons .behance {background: url(../img/icons/social/behance.png) no-repeat;}
.social-icons .blogger {background: url(../img/icons/social/blogger.png) no-repeat;}
.social-icons .deviantart {background: url(../img/icons/social/deviantart.png) no-repeat;}
.social-icons .dribbble {background: url(../img/icons/social/dribbble.png) no-repeat;}
.social-icons .dropbox {background: url(../img/icons/social/dropbox.png) no-repeat;}
.social-icons .evernote {background: url(../img/icons/social/evernote.png) no-repeat;}
.social-icons .facebook {background: url(../img/icons/social/facebook.png) no-repeat;}
.social-icons .forrst {background: url(../img/icons/social/forrst.png) no-repeat;}
.social-icons .github {background: url(../img/icons/social/github.png) no-repeat;}
.social-icons .googleplus {background: url(../img/icons/social/googleplus.png) no-repeat;}
.social-icons .jolicloud {background: url(../img/icons/social/jolicloud.png) no-repeat;}
.social-icons .last-fm {background: url(../img/icons/social/last-fm.png) no-repeat;}
.social-icons .linkedin {background: url(../img/icons/social/linkedin.png) no-repeat;}
.social-icons .picasa {background: url(../img/icons/social/picasa.png) no-repeat;}
.social-icons .pintrest {background: url(../img/icons/social/pintrest.png) no-repeat;}
.social-icons .rss {background: url(../img/icons/social/rss.png) no-repeat;}
.social-icons .skype {background: url(../img/icons/social/skype.png) no-repeat;}
.social-icons .spotify {background: url(../img/icons/social/spotify.png) no-repeat;}
.social-icons .stumbleupon {background: url(../img/icons/social/stumbleupon.png) no-repeat;}
.social-icons .tumblr {background: url(../img/icons/social/tumblr.png) no-repeat;}
.social-icons .twitter {background: url(../img/icons/social/twitter.png) no-repeat;}
.social-icons .vimeo {background: url(../img/icons/social/vimeo.png) no-repeat;}
.social-icons .wordpress {background: url(../img/icons/social/wordpress.png) no-repeat;}
.social-icons .xing {background: url(../img/icons/social/xing.png) no-repeat;}
.social-icons .yahoo {background: url(../img/icons/social/yahoo.png) no-repeat;}
.social-icons .youtube {background: url(../img/icons/social/youtube.png) no-repeat;}
.social-icons .vk {background: url(../img/icons/social/vk.png) no-repeat;}
.social-icons .instagram {background: url(../img/icons/social/instagram.png) no-repeat;}

/*Fixing dropdown issue on mobile devices in Bootstrap 3.2.2*/
.dropdown-backdrop {
  position: static;
}

/***
Styler Panel
***/
.color-panel {
  z-index: 999;
  position:fixed;
  top:120px;
  right:0px;
}

.color-panel .color-mode-icons {
  top:4px;
  right:0;
  padding:20px;
  cursor:pointer;
  position:absolute;
}

.color-panel .icon-color {
  background:#c9c9c9 url(../img/icon-color.png) center no-repeat !important;
}

.color-panel .icon-color:hover {
  background-color:#3d3d3d !important;
}

.color-panel .icon-color-close {
  display:none;
  background:#3d3d3d url(../img/icon-color-close.png) center no-repeat !important;
}

.color-panel .icon-color-close:hover {
  background-color:#222 !important;
}

.color-mode {
  top:4px;
  right:40px;
  width:180px;
  display:none;
  padding:10px 0;
  position:absolute;
  background:#3d3d3d;
}

.color-mode p,
.color-mode ul,
.color-mode label {
  padding:0 15px;
}

.color-mode p {
  color:#cfcfcf;
  padding:0 15px;
  font-size:15px;
}

.color-mode ul {
  list-style:none;
  padding:4px 11px 5px;
  display: block;
  margin-bottom: 1px !important;
}

.color-mode li {
  width:16px;
  height:23px;
  margin:0 4px;
  cursor:pointer;
  list-style:none;
  border:solid 1px #707070;
}

.color-mode li:hover,
.color-mode li.current {
  border:solid 2px #ebebeb;
  margin:0 3px;
}

.color-mode li.color-blue {
  background:#0da3e2;
}

.color-mode li.color-red {
  background:#db3a1b;
}

.color-mode li.color-green {
  background:#35aa47;
}

.color-mode li.color-orange {
  background:#ff8503;
}

.color-mode label {
  color:#cfcfcf;
  padding-top:10px;
  padding-bottom: 0px;
  border-top:1px solid #585858;
  margin-top: 0px;
  margin-bottom: 0px;
}

.color-mode label span {  
  text-transform:uppercase;
}

.color-mode label > span {
  display: inline-block;
  width: 85px;
}

.color-mode label > select {
  margin-top: 5px;
  text-transform: lowercase;
}

.color-mode label  span.color-mode-label {
  top:2px;
  position:relative;
}

/***
BXSlider
***/

.bxslider-container {
	
}

.bxslider,
.bxslider1 {
  display: none;
}



/***
Form wizard
***/

.form-wizard .progress {
  margin-bottom: 30px;
}

.form-wizard .steps {
  padding: 10px 0;
  margin-bottom: 15px;
}

.form-wizard .steps .navbar-inner {  
  background-color: #fff !important;
  background-image: none !important;
  filter:none !important;
  border: 0px;
  box-shadow: none !important;
}

.form-wizard .steps .navbar-inner li a {
  background-color: #fff !important;
  background-image: none !important;
  filter:none !important;
  border: 0px;
  box-shadow: none !important;
}

.form-wizard .step:hover {
  text-decoration: none;
}

.form-wizard .step .number {
  background-color: #eee;
  display: inline-block;
  font-size: 16px;
  font-weight: 300;
  padding: 12px 15px 12px 15px !important;
  margin-right: 10px;
  -webkit-border-radius: 50% !important;
     -moz-border-radius: 50% !important;
          border-radius: 50% !important;
}

.form-wizard .step .desc {
  display: inline-block;
  font-size: 14px;
  font-weight: 300;
}
 
.form-wizard .active .step .number {
  background-color: #35aa47;
  color: #fff;
}

.form-wizard .active .step .desc {
  font-weight: 400;
}

.form-wizard .step i {
  display: none;
}

.form-wizard .done .step .number {
  background-color: #f2ae43;
  color: #fff;
}

.form-wizard .done .step .desc {
  font-weight: 400;
}

.form-wizard .done .step i {
  font-size: 12px;
  font-weight: normal;
  color: #999;
  display: inline-block;
}

/* bootstrap chosen overlaping bug fix*/
.form-wizard .tab-pane .chzn-container {
  position: absolute !important;
}
